{% assign METAL = "Metal" %}
{% if product.options contains METAL %}
  {% assign option = product.options_with_values | where:"name", METAL | first %}
  {% for value in option.values %}
    {% if value == "Platinum" %}
      {% assign found = true %}
    {% else %}
      {% assign found = false %}
    {% endif %}

    {% for variant in product.variants %}
      {% if found == false and variant.option1 == value %}
        <div class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
          <div class="grid-view-item m-margin-bottom-none{% unless product.available %} product-price--sold-out grid-view-item--sold-out{% endunless %}">
            <a class="grid-view-item__link grid-view-item__image-container" href="{{ product.url | within: collection | append: "?variant=" | append: variant.id }}">
              {% capture img_id %}ProductCardImage-{{ section.id }}-{{ variant.id }}{% endcapture %}
              {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ variant.id }}{% endcapture %}
              {%- assign img_url = variant.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

              {% unless variant.image == blank %}
                {% include 'image-style' with image: variant.image, width: max_height, height: max_height, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
              {% endunless %}

              <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper js">
                <div style="padding-top:{% unless variant.image == blank %}{{ 1 | divided_by: variant.image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};">
                  <img id="{{ img_id }}"
                       class="grid-view-item__image lazyload"
                       src="{{ variant.image | img_url: '300x300' }}"
                       data-src="{{ img_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                       data-aspectratio="{{ variant.image.aspect_ratio }}"
                       data-sizes="auto"
                       alt="{{ variant.image.alt | escape }}">
                </div>
              </div>

              <noscript>
                {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
                <img class="grid-view-item__image" src="{{ variant.image.src | img_url: image_size, scale: 2 }}" alt="{{ variant.image.alt }}" style="max-width: {{ max_height | times: variant.image.aspect_ratio }}px;">
              </noscript>
              <div class="c-negative-transform-medium">
                <div class="h4 grid-view-item__title">{{ product.title }}</div>
                {% if section.settings.show_vendor %}
                  <div class="grid-view-item__vendor">{{ product.vendor }}</div>
                {% endif %}
                <div class="grid-view-item__meta">
                  {% unless product.compare_at_price > product.price %}
                    <span class="starting-at"><i>Starting at</i></span>
                  {% endunless %}
                  {% include 'product-price' %}
                </div>
              </div>
            </a>
          </div>
         </div>
        {% assign found = true %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% else %}
  <div class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
    <div class="grid-view-item{% unless product.available %} product-price--sold-out grid-view-item--sold-out{% endunless %}">
      <a class="grid-view-item__link grid-view-item__image-container" href="{{ product.url | within: collection }}">
        {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
        {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
        {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

        {% unless product.featured_image == blank %}
          {% include 'image-style' with image: product.featured_image, width: max_height, height: max_height, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
        {% endunless %}

        <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper js">
          <div style="padding-top:{% unless product.featured_image == blank %}{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};">
            <img id="{{ img_id }}"
                 class="grid-view-item__image lazyload"
                 src="{{ product.featured_image | img_url: '300x300' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ product.featured_image.alt | escape }}">
          </div>
        </div>

        <noscript>
          {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
          <img class="grid-view-item__image" src="{{ product.featured_image.src | img_url: image_size, scale: 2 }}" alt="{{ product.featured_image.alt }}" style="max-width: {{ max_height | times: product.featured_image.aspect_ratio }}px;">
        </noscript>
        <div class="c-negative-transform-medium">
          <div class="h4 grid-view-item__title">{{ product.title }}</div>
          {% if section.settings.show_vendor %}
            <div class="grid-view-item__vendor">{{ product.vendor }}</div>
          {% endif %}
          <div class="grid-view-item__meta">
            {% unless product.compare_at_price > product.price %}
              <span class="starting-at"><i>Starting at</i></span>
            {% endunless %}
            {% include 'product-price' %}
          </div>
        </div>
      </a>
    </div>
  </div>
{% endif %}