{% paginate blog.articles by 12 %}


<div class="hero hero-width c-hero-width c-journal-hero">
  <div class="hero__inner padding-top-none">
    <h2 class="c-header-xxl margin-bottom-xs text-white">Discover</h2>
    <p class="c-blog-subheader">a new outlook on old traditions.<br>
      the next generation of engagement rings.
  </div>
</div>

<div class="pg-bg-primary">
  <div class="c-page-width-l padding-top-l">
    <header class="section-header text-center">
      <div class="c-section-center c-page-width-m">
        <p class="c-mini-header padding-bottom-s">DISCOVER MORE ABOUT MOISSANITE</p>
        <h3 class="c-header-xxl">Explore the Journal</h3>
      </div>
      {% if blog.tags.size > 0 %}
        <select id="BlogTagFilter">
          <option value="/blogs/{{ blog.handle }}">{{ 'blogs.article.all_topics' | t }}</option>
          {% for tag in blog.all_tags %}
            <option value="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" {% if current_tags contains tag %}selected{% endif %}>{{ tag }}</option>
          {% endfor %}
        </select>
      {% endif %}
    </header>
  </div>
  
  <div class="padding-top-s m-padding-top-xs">
    <div class="c-layered-section__image-right">
      <div class="c-layered-section__copy-box-wrapper c-mobile-width">
        <div class="copy-box">
          <p class="c-mini-header">QUALITY</p>
          <h3 class="c-header-xl">The 4Cs of Moissanite<br>Explained</h3>
          <p class="padding-top-m narrow-blurb"> 
            If you're researching different gemstones, you'll notice gemstones get graded on various characteristics
            such as color, cut, clarity, and carat.
          </p>          
          <a href="/pages/the-4-cs" class="c-link">LEARN MORE</a>
        </div>
      </div>
      <div class="c-layered-section__image-box-wrapper">
        <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/color-clarity.png?4550948056454969569"/>
      </div>
    </div>
  </div>

  <div class="page-width padding-top-l m-padding-top-s">
    {% for article in blog.articles %}
      <div class="c-column-flex-container c-mobile-flex-column padding-top-m padding-bottom-m c-article-line">
        {% if article.image %}
          <div id="{{ img_wrapper_id }}" class="c-column-flex-1 js c-blog-image">
            <a href="{{ article.url }}" class="">
              <img id="{{ img_id }}"
                   class="lazyload"
                   src="{{ article.image | img_url: '300x300' }}"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ article.image.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ article.image.alt | escape }}">
            </a>
          </div>
          <noscript>
            <a href="{{ article.url }}" class="">
              {{ article | img_url: '345x345', scale: 2 | img_tag: article.title, 'article__grid-image' }}
            </a>
          </noscript>
        {% endif %}
        <div class="c-column-flex-2 padding-top-m padding-bottom-m">
          <h2 class="c-section-header-blog">
            <a href="{{ article.url }}">{{ article.title }}</a>
          </h2>
          <div class="padding-top-xs c-page-width-narrow">
            {% if article.excerpt.size > 0 %}
              {{ article.excerpt }}
            {% else %}
              {{ article.content | strip_html | truncate: 200 }}
            {% endif %}
          </div>

          {% if article.tags.size > 0 %}
            <div class="">
              {% for tag in article.tags %}
                <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="">{{ tag }}</a>
              {% endfor %}
            </div>
          {% endif %}
          <ul class="list--inline padding-top-m">
            <li>
              <a href="{{ article.url }}" class="c-link">
                {{ 'blogs.article.read_more' | t }}
              </a>
            </li>

            {% if blog.comments_enabled? and article.comments_count > 0 %}
              <li>
                <a href="{{ article.url }}#comments" class="btn btn--small btn--link">
                  {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    {% endfor %}

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  </div>
</div>
{% endpaginate %}

{% schema %}
  {
    "name": "Blog pages",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "grid",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "list",
            "label": "List"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": false
      }
    ]
  }
{% endschema %}
