<div class="c-page-width-m pg-bg-primary padding-top-m padding-bottom-l">
  <h3 class="c-header-l text-center">Lab Grown Gems FAQ</h3>
  <div class="custom-about-content padding-top-m">
    <div>
      <p>Lab grown gemstones have the same physical, chemical, and optical properties 
        as mined gems do. A controlled environment is created so that 
        crystals can grow naturally: recreating the conditions in which gems grow 
        in the earth.
      </p>
      <p>The process of growing gem crystals in a laboratory rather than mining 
        them is a bit like making ice in your freezer instead of finding it in a lake.
      </p>
      <div class="about-row">
        <a href="#what-are-moissanites" class="js-about-content-link">
          <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
          <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
          <h4 class="about-header4">Are lab created gemstones real or artificial?</h4>
        </a>
        <div class="js-about-content about-content hidden">
          <p>
            Lab-grown gemstones are cultured just like you would 
            culture a pearl. Natural ingredients are placed in an environment 
            created to duplicate nature. Once the required combination of chemical 
            and environmental factors is created, gemstone crystals grow over the 
            course of about a year (the exact length of time depends on the variety). 
            As a result, the crystals we grow have physical, chemical, and optical 
            properties that are identical to those found in nature.
          </p>
        </div>
      </div>
      <div class="about-row">
        <a href="#is-moissanite-a-diamond" class="js-about-content-link">
          <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
          <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
          <h4 class="about-header4">Can I tell the difference between created gemstones and mined gemstones?</h4>
        </a>
        <div class="js-about-content about-content hidden">
          <p>
            Unless you’re a certified gemologist with a powerful microscope, you 
            won’t be able to tell the difference between lab created and mined 
            gemstones.
          </p>
        </div>
      </div>
      <div class="about-row">
        <a href="#why-are-moissanites-sold-by-millimeter" class="js-about-content-link">
          <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
          <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
          <h4 class="about-header4">Do lab created gemstones look better than their mined counterparts?</h4>
        </a>
        <div class="js-about-content about-content hidden">
          <p>Under laboratory conditions, computers control temperatures, while 
            foreign materials found in the earth are eliminated from our starting 
            chemicals. This makes our crystal growth more predictable and consistent. 
            Only the best qualities and colors make it to the retail market.
            Lower qualities will not make it past quality control and are not released for sale.
		  </p>  
        </div>
      </div>
    </div>
    <div class="about-row padding-top-m">
      <div class="about-row">
        <a href="#will-moissanite-color-fade" class="js-about-content-link">
          <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
          <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
          <h4 class="about-header4">Are these stones enhanced or color treated?</h4>
        </a>
        <div class="js-about-content about-content hidden">
          <p>
            No. All gemstones are grown in a lab under a controlled 
            environment producing the most purse color possible. 
            The chemical structure and coloring agents are the same as its mined counterparts.
          </p>  
        </div>
      </div>
      <div class="about-row">
        <a href="#do-moissanites-have-inclusions" class="js-about-content-link">
          <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
          <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
          <h4 class="about-header4">Are lab-grown gemstones as durable as mined gemstones?</h4>
        </a>
        <div class="js-about-content about-content hidden">
          <p>Yes. In fact, you will find that lab created stones are more durable 
            because they have fewer inclusions than most of their mined counterparts.
            This is because 80% of our rough is cut away to deliver near “flawless” 
            pieces. The hardness of lab created stones are exactly the same as their mined counterparts. 
            In addition, a Lifetime Warranty is offered to back our promise of quality, 
            which is something uncommon for any mined gemstone.
		  </p>  
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" c-bg-light-gray">
  <div class="padding-top-l padding-bottom-l page-width c-page-width-m">
    <div class="grid grid--half-gutters">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        <div class="section-header text-center">
          <h1>Questions? Contact Us</h1>
        </div>

        <div class="contact-form form-vertical">
          {% form 'contact' %}

            {% if form.posted_successfully? %}
              <p class="note form-success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {% endif %}

            {{ form.errors | default_errors }}

            <div class="grid grid--half-gutters">
              <div class="grid__item">
                <label for="ContactFormName">{{ 'contact.form.name' | t }}</label>
                <input type="text" id="ContactFormName" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>
            </div>

            <div class="grid grid--half-gutters">
              <div class="grid__item">
                <label for="ContactFormEmail" class="{% if form.errors contains 'email' %}label--error{% endif %}">{{ 'contact.form.email' | t }}</label>
                <input type="email" id="ContactFormEmail" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" class="{% if form.errors contains 'email' %}input--error{% endif %}">
              </div>
            </div>

            <label for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
          <textarea rows="10" id="ContactFormMessage" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

            <input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">

          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-width">
  <div class="c-section-center text-center padding-top-xl padding-bottom-xl m-padding-top-s m-padding-bottom-s">
    <h3 class="c-header-xl padding-bottom-s">The world's most practical engagement ring.</h3> 
    <a href="/collections/engagement-rings" class="btn c-primary-btn">
      <b>Shop Now</b>
    </a>
  </div>
</div>

<script src="{{ 'contact-us.js' | asset_url }}"></script>








<div class="shopify-section index-section">
  <div class="page-width c-split-screen c-4c">
    <div class="c-one-split c-4c__main">
      <div class="copy-box__subheading">
        <span class="c-blue-bar"></span>
      </div>
      <p class="c-mini-header">QUALITY</p>
      <h3 class="c-section-header-lg">The 4 C's</h3>
<!--       <p>
        Striving for innovation, integrity and quality while maintaining our socially responsible roots.
      </p> -->
    </div>
    <div class="c-two-split c-4c__sub">
      <div class="c-4c__row">
        <div class="c-4c__copy-box">
          <div class="c-4c__icon">
            {% include 'icon-drop' %}
          </div>
          <h3>Color</h3>
          <p>Super bright white, never cloudy, and zero traces of yellows.</p>
        </div>
        <div class="c-4c__copy-box">
          <div class="c-4c__icon">
            {% include 'icon-cut' %}
          </div>
          <h3>Cut</h3>
          <p>Proportionally cut for ideal balance and maximum light refraction.</p>
        </div>
      </div>
      <div class="c-4c__row">
        <div class="c-4c__copy-box">
          <div class="c-4c__icon">
            {% include 'icon-sun' %}
          </div>
          <h3>Clarity</h3>
          <p>Perfectly clear with no traces of marks, <br>flaws, or inclusions.</p>
        </div>
        <div class="c-4c__copy-box">
          <div class="c-4c__icon">
            {% include 'icon-heart' %}
          </div>
          <h3>Conscience</h3>
          <p>Ethically sourced, socially responsible, and sustainable.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="shopify-section index-section index-section--flush">
  <div class="hero hero-large hero__overlay box ratio-container c-compare-hero">
    <div class="hero__inner">
      <div class="c-hero-width">
        <h2 class="h1 mega-title--large text-center c-jumbotron-title">The world's most<br>practical gem.</h2>
      </div>
    </div>
  </div>
</div>

<div class="page-width">
<!--   <div class="text-center c-about-intro">
    <hr class="c-mini-hr">
    <p class="c-mini-header">GEM</p>
    <h3 class="about-title">Moissanites vs. Diamonds.</h3>
    <p class="c-about-p">Moissanites and Diamonds are both gemstones which come in natural and synthetic forms. Natural Moissanites are scarce in supply, making it a much more rare (and costly) than Diamonds. Majoirty of Moissanites on the market today are synthetic, conflict-free, and environmentally concious.</p>
  </div> -->
  <div class="grid grid--uniform grid--view-items c-about-intro">
    <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-half">
      <div class="grid-view-item c-about-grid-right">
        <hr class="c-mini-hr-left">
    	<p class="c-mini-header">GEM</p>
        <h4 class="c-about-header">Lab designed for perfect color and clarity.</h4>
        <p> 
          Chemically engineered for icy-white color with zero traces of yellow or inclusions.
          Our Moissanite's color and clarity is equivalent to the D-E-F color 
          range for GIA certified Diamonds (the highest color and clarity of diamonds). 
        </p>
      </div>
    </div>
    <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-half">
      <div class="grid-view-item">
<!--         <img src="//cdn.shopify.com/s/files/1/2109/1565/files/color_range_f33e689f-def7-450b-8309-e897971d2631.png?v=1502933309"> -->
      <img src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459">
      </div>
    </div>

    <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-half">
      <div class="grid-view-item ">
        <img src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459">
      </div>
    </div>
    <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-half">
      <div class="grid-view-item c-about-grid-left">
        <hr class="c-mini-hr-left">
    	<p class="c-mini-header">QUALITY</p>
        <h4 class="c-about-header">One of the toughest gems.</h4>
        <p>
          Moissanites are made of Silicon Carbide - the same material used to make bullet 
          proof vests and machining discs to cut metals. This tough gem is more scratch resistent than Sapphires, Rubies, and Emeralds, and remains undamaged up to 1800 °C or 3272 °F.
        </p>
     </div>
    </div>
  </div>
  
  <div class="grid grid--uniform grid--view-items">
  <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-half">
      <div class="grid-view-item c-about-grid-right">
        <hr class="c-mini-hr-left">
    	<p class="c-mini-header">BRILLIANCE</p>
        <h4 class="c-about-header">More sparkle than Diamonds.</h4>
        <p> 
          Due to its chemical composition, Moissanites have a the highest refractive index out of all gemstones. This means Moissanite disperses light and sparkles brighter than the highest of quality diamonds 
          or any gemstones on the market. 
        </p>
     </div>
    </div>
    <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-half">
      <div class="grid-view-item">
        <img src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459">
      </div>
    </div>
  
  
  	<div class="grid__item grid__item--collection-template small--one-whole medium-up--one-half">
      <div class="grid-view-item ">
        <img src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459">
      </div>
    </div>
    <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-half">
      <div class="grid-view-item c-about-grid-left">
        <hr class="c-mini-hr-left">
    	<p class="c-mini-header">PRICE</p>
        <h4 class="c-about-header">A fraction of the price.</h4>
        <p>While a diamond’s price varies base on cut, clarity, and other individual characteristics, 
          Moissanite's lab quality is consistent so pricing varies only with size and shape.</p>
        <p>Note: Comparison of a 7mm Moissanite and a 1.25ct D-color, ideal cut, Diamond.
     </div>
    </div>
  </div>
  <div class="c-our-story-quote">
    <div class="join-us">
      <h3>Starting at $600</h3>
      <btn class="btn c-secondary-btn">SHOP NOW</btn>
    </div>
  </div>
</div>

<div class="shopify-section index-section">
  <div class="c-layered-section__image-right">
    <div class="c-layered-section__copy-box-wrapper c-mobile-width">
      <div class="copy-box">
        <div class="copy-box__subheading">
            <span class="c-blue-bar"></span>
        </div>
<!--         <p class="c-mini-header">INTRODUCING</p> -->
        <h3 class="c-section-header-lg">The Moissanite gemstone.</h3>
        <p>
          The gemstone you haven't heard enough of. Often mistaken for its counterpart, Moissanites are real gemstones which come in both natural and lab created forms.
        </p>
      </div>
    </div>
    <div class="c-layered-section__image-box-wrapper">
      <img src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459"/>
    </div>
  </div>
</div>
<div class="shopify-section index-section">
  <div class="c-split-screen c-flex-reverse__small-screen">
    <div class="split-screen__image-container">
      <img src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459"/>
    </div>
    <div class="split-screen__text-container">

        <span class="c-blue-bar"></span>

<!--       <p class="c-mini-header">PRICING</p> -->
      <h3 class="c-section-header-lg">Same look and quality for less.</h3>
      <p>
        Traditional engagement rings are marked up to 500%.
        We believe couples shouldn't need an excessive budget to declare one's love - 
        so we offer a different gemstone with identical appearance and quality without the markup.
                <p>After Diamonds, Moissanites are the second hardest gemstone recorded on earth. This tough 
          gem is more scratch resistent than Sapphires, Rubies, and Emeralds, and remains 
          undamaged up to 5000 °F.</p>
      </p>
    </div>
  </div>
</div>
<div class="shopify-section index-section">
  <div class="c-crosslap-section page-width">
    <div class="top-row">
      <div class="copy-box__wrapper">
        <div class="copy-box">

            <span class="c-blue-bar"></span>

<!--           <p class="c-mini-header">ETHICAL</p> -->
          <h3 class="c-section-header-lg">Conflict-free and environmentally friendly.</h3>
        </div>
      </div>
      <div class="img-box__wrapper">
        <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/background1.png?v=1505162228" />
      </div>
    </div>
    <div class="bottom-row">
      <div class="img-box__wrapper left">
        <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/background1.png?v=1505162228" />
      </div>
      <div class="copy-box__wrapper">
        <div class="copy-box">

            <span class="c-blue-bar"></span>

          <p> 
            Our Moissanites are all lab crafted so there is no mining or unethical 
            handling in the gem's journey into our couples' hands. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="shopify-section index-section page-width">
  <div class="c-homepage-subheader">

      <span class="c-blue-bar"></span>

<!--     <p class="c-mini-header">TESTIMONIALS</p> -->
    <h3 class="c-section-header-lg">The right engagement ring for you.</h3>
    <p>
      Rings are as unique as the people who wear them, 
      which is why we offer a range of shapes and sizes for gemstones and settings. 
      Check out why these couples chose Moissanite for their engagement rings.
    </p>
  </div>
  <div class="c-layered-section__image-left">
    <div class="c-layered-section__image-box-wrapper">
      <img class="c-tab-image js-tab-image active" src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459"/>
      <img class="c-tab-image js-tab-image hidden" src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459">
      <img class="c-tab-image js-tab-image hidden" src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459"/>
      <img class="c-tab-image js-tab-image hidden" src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459">
      <img class="c-tab-image js-tab-image hidden" src="//cdn.shopify.com/s/files/1/2109/1565/files/grey_box.png?v=1503020459"/>
    </div>
    <div class="c-layered-section__copy-box-wrapper c-mobile-width-full">
      <div class="copy-box">
        <div class="c-tabs">
          <div class="c-tablink js-tablink active" data-index=0>
            <p>John & Amanda</p>
          </div>
          <div class="c-tablink js-tablink" data-index=1>
            <p>Samantha & Sharon</p>
          </div>
          <div class="c-tablink js-tablink" data-index=2>
            <p>Allen & Jennifer</p>
          </div>
          <div class="c-tablink js-tablink" data-index=3>
            <p>Connor & Alison</p>
          </div>
          <div class="c-tablink js-tablink" data-index=4>
            <p>Andy & Leslie</p>
          </div>
        </div>
        <div class="c-tabs-content">
          <div class="c-tab-content js-tab-content active">
            <p><strong>John and Amanda</strong>
            <br>Brooklyn, New York</p><br>
            <h3>We prioritized buying a home instead.</h3><br>
            <p>We wanted to buy a home for us to settle down and eventually start a family in. 
              We were hesitant to detract from our goal by splurging on an expensive piece of jewelry which didn't have much investment
              in our future and financial stability.</p>
          </div>
          <div class="c-tab-content js-tab-content hidden">
            <p><strong>Samantha and Sharon</strong>
            <br>Seattle, Washinton</p><br>
            <h3>We wanted a conflict free option.</h3><br>
            <p>We knew we didn't want a Diamond because of its unethical industry practices.
              It was important for us to find a gem that was beautiful but also conflict free. 
              At such a reasonable price, we bought matching ones for each other!
              </p>
          </div>
            <div class="c-tab-content js-tab-content hidden">
            <p><strong>Allen and Jennifer</strong>
            <br>Dallas, Texas</p><br>
            <h3>Our temporary engagement ring.</h3><br>
            <p>We've always wanted a diamond ring but knew we should prioritize paying off our student loans
              first. We chose a Moissanite as a temporary solution because it had the same look and quality.
              </p>
          </div>
          <div class="c-tab-content js-tab-content hidden">
            <p><strong>Connor and Alison</strong>
            <br>Seattle, Washinton</p><br>
            <h3>We wanted to invest in experiences instead.</h3><br>
              <p>We love travelling and decided to put our money toward 
              building more memories and experiences instead. Our family was more traditional and 
              wanted us to have a diamond ring for what seemed like social purposes. We still haven't told them its
              not what they think it is!
              </p>
          </div>
          <div class="c-tab-content js-tab-content hidden">
            <p><strong>Andy and Leslie</strong>
            <br>Miami, Florida</p><br>
            <h3>The smartest upgrade option.</h3><br>
            <p>
            We didn't know about Moissanites when we got married and spent thousands on our engagement ring.
              We were looking to upgrade years later and discovered Moissanites looked just as great, if not better than what we had. 
              We found the smartest hack for our upgrade!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c-our-story-quote page-width c-surface-item">
  <div class="join-us">
    <h3>Three months salary not required.</h3> 
    <a href="/collections/engagement-rings" class="btn c-secondary-btn">
      SHOP NOW
    </a>
  </div>
</div>

<div style="width: 50%; text-align: center;">
  <canvas id="cost-chart"></canvas>
</div>

<div class="page-width">
  <div class="c-section-center">
  	<h3 class="c-section-header-md">Specifications</h3>
    <div class="c-column-flex-container padding-top-sm">
      <div class="c-column-flex-1 c-specification-text">
        <p><strong>Shape and Cutting style:</strong><br>Round Brilliant</p>
        <p><strong>Color Grade:</strong><br>D-E-F Range</p>
        <p><strong>Clarity Grade:</strong><br>IF-VVS1 Range</p>
        <p><strong>Cut Grade:</strong><br>Excellent</p>
      </div>
      <div class="c-column-flex-1 c-specification-text">
        <p><strong>Polish:</strong><br>Excellent</p>
        <p><strong>Symmetry:</strong><br>Excellent</p>
        <p><strong>Warranty</strong><br>1 year warranty guarantee<br>
          See <strong>gemanewyork.com/legal</strong><br>
          Customer support at<br><strong>support@gemanewyork.com</strong>
        </p>
      </div>
      <div class="c-column-flex-2 c-mobile-hide">
        <img src="//cdn.shopify.com/s/files/1/2109/1565/files/round_line_ef07a723-b69c-47c4-a20c-eea260e630d9.png?v=1508094210">
      </div>
    </div>
  </div>
</div>

<div class="page-width">
  <div class="c-section-center">
  	<h3 class="c-section-header-md">Specifications</h3>
    <div class="c-column-flex-container padding-top-sm">
      <div class="c-column-flex-1 c-specification-text">
        <p><strong>Shape and Cutting style:</strong><br>Round Brilliant</p>
        <p><strong>Color Grade:</strong><br>D-E-F Range</p>
        <p><strong>Clarity Grade:</strong><br>IF-VVS1 Range</p>
        <p><strong>Cut Grade:</strong><br>Excellent</p>
      </div>
      <div class="c-column-flex-1 c-specification-text">
        <p><strong>Polish:</strong><br>Excellent</p>
        <p><strong>Symmetry:</strong><br>Excellent</p>
        <p><strong>Warranty</strong><br>1 year warranty guarantee<br>
          See <strong>gemanewyork.com/legal</strong><br>
          Customer support at<br><strong>support@gemanewyork.com</strong>
        </p>
      </div>
      <div class="c-column-flex-2">
        <div class="c-color-chart">
          <div class="c-column-flex-1 c-color-chart-title">
            Color Grading Scale
          </div>
          <div class="c-column-flex-10">
            <div class="c-color-chart-table">
              <div class="c-column-flex-1 c-color-cell">
                <img src="//cdn.shopify.com/s/files/1/2109/1565/files/Round_outline.png?572506619393082780">
                <p>D</p>
              </div>
              <div class="c-column-flex-1 c-color-cell">
                <img src="//cdn.shopify.com/s/files/1/2109/1565/files/Round_outline.png?572506619393082780">
                <p>E</p>
              </div>
              <div class="c-column-flex-1 c-color-cell">
                <img src="//cdn.shopify.com/s/files/1/2109/1565/files/Round_outline.png?572506619393082780">
                <p>F</p>
              </div>
              <div class="c-column-flex-1 c-color-cell">
                <img src="//cdn.shopify.com/s/files/1/2109/1565/files/Round_outline.png?572506619393082780">
                <p>G</p>
              </div>
              <div class="c-column-flex-1 c-color-cell">
                <img src="//cdn.shopify.com/s/files/1/2109/1565/files/Round_outline.png?572506619393082780">
                <p>H</p>
              </div>
              <div class="c-column-flex-1 c-color-cell">
                <img src="//cdn.shopify.com/s/files/1/2109/1565/files/Round_outline.png?572506619393082780">
                <p>I</p>
              </div>
              <div class="c-column-flex-1 c-color-cell">
                <img src="//cdn.shopify.com/s/files/1/2109/1565/files/Round_outline.png?572506619393082780">
                <p>J</p>
              </div>
              <div class="c-column-flex-1 c-color-cell">
                <img src="//cdn.shopify.com/s/files/1/2109/1565/files/Round_outline.png?572506619393082780">
                <p>K</p>
              </div>
              <div class="c-column-flex-1 c-color-cell">
                <img src="//cdn.shopify.com/s/files/1/2109/1565/files/Round_outline.png?572506619393082780">
                <p>L</p>
              </div>
              <div class="c-column-flex-1 c-color-cell">
                <img src="//cdn.shopify.com/s/files/1/2109/1565/files/Round_outline.png?572506619393082780">
                <p>M</p>
              </div>
            </div>
            <div class="c-color-chart-legend">
              <div class="c-column-flex-3">
                Colorless
              </div>
              <div class="c-column-flex-4">
                Near Colorless
              </div>
              <div class="c-column-flex-3">
                Faint
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c-page-width-narrow-mid padding-top-md">
  <h3 class="custom-product-text h1 text-center">Moissanite Specifications</h3>
  <h3 class="custom-product-text h1 padding-top-md">Color: D-E-F</h3>
  <p class="padding-top-xsm">Color greatly impacts a gem's appearance because it’s what the eye notices next after a gem's sparkle.
  Our lab Moissanites' color fall within the highest range of the color scale. 
  Minute traces of color can potentially be detected by an expert gemologist, but to the naked eye, the gem is a bright white color.</p>
  <div class="c-column-flex-2 padding-top-xsm">
    <div class="c-color-chart">
      <div class="c-column-flex-10">
        <div class="c-color-chart-table">
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/circle.png?15185396925974111">
            <p>D</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/circle.png?15185396925974111">
            <p>E</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/circle.png?15185396925974111">
            <p>F</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/g.png?15185396925974111">
            <p>G</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/h.png?15185396925974111">
            <p>H</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/i.png?15185396925974111">
            <p>I</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/j.png?15185396925974111">
            <p>J</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/k.png?15185396925974111">
            <p>K</p>
          </div>
        </div>
        <div class="c-color-chart-legend padding-top-xsm text-center">
          <div class="c-column-flex-3">
            Colorless
          </div>
          <div class="c-column-flex-4">
            Near Colorless
          </div>
          <div class="c-column-flex-3">
            Faint
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c-page-width-narrow-mid padding-top-md">
  <h3 class="custom-product-text h1">Clarity: IF-VVS1</h3>
  <p class="padding-top-xsm">Clarity refers to a gemstone's relative absence of 
    tiny, natural characteristics known as blemishes and inclusions.
    Many of these characteristics are microscopic and do not affect a gemstone's beauty 
    in any discernible way. Our Moissanites may have very, very slight to no inclusions. 
    Characteristics are miniscule and are difficult to see under 10x magnification.</p>
  <div class="c-column-flex-2 padding-top-xsm">
    <div class="c-color-chart">
      <div class="c-column-flex-10">
        <div class="c-color-chart-table">
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/FL.png?12958213320461595773">
            <p>FL</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/IF.png?12958213320461595773">
            <p>IF</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/VVS1.png?12958213320461595773">
            <p>VVS1</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/VVS2.png?12958213320461595773">
            <p>VVS2</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/VS1.png?12958213320461595773">
            <p>VS1</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/VS2.png?12958213320461595773">
            <p>VS2</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/SI1.png?12958213320461595773">
            <p>SI1</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/SI2.png?12958213320461595773">
            <p>SI2</p>
          </div>
        </div>
        <div class="c-color-chart-legend padding-top-xsm text-center">
          <div class="c-column-flex-3">
            Flawless
          </div>
          <div class="c-column-flex-4">
            Very Very Slightly Inclusions
          </div>
          <div class="c-column-flex-3">
            Very Slight Inclusions
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c-page-width-narrow-mid padding-top-md">
  <h3 class="custom-product-text h1">Cut: Ideal-Very Good</h3>
  <p class="padding-top-xsm">The cut grade is used to measure a gemstone's light 
    performance. Cut with proper proportions, maximum light will be reflected out 
    of the top of the gemstone. Cut too shallow, light leaks out of the bottom; too 
    deep and it escapes out of the side. Our Moissanites have the ideal cut with 
    proportions to produce a beautiful balance of fire and sparkle.</p>
  <div class="c-column-flex-2 padding-top-xsm">
    <div class="c-color-chart">
      <div class="c-column-flex-10">
        <div class="c-color-chart-table">
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/very_shallow.png?4213248195509878693">
            <p>Very Shallow</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/shallow.png?4213248195509878693">
            <p>Shallow</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/Ideal.png?4213248195509878693">
            <p>Ideal</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/very_good.png?4213248195509878693">
            <p>Very Good</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/deep.png?4213248195509878693">
            <p>Deep</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/very_deep.png?4213248195509878693">
            <p>Very Deep</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c-page-width-narrow-mid padding-top-md padding-bottom-md">
  <h3 class="custom-product-text h1">Carat</h3>
  <p class="padding-top-xsm">Carat is a unit measurement specifically used for Diamonds.
    Moissanite have a different chemical makeup than Diamond and naturally weigh lighter.
    A 1.00ct Diamond would translate to a weight of .88ct in Moissanite.
    Moissanites' size is referenced using millimeters or Diamond equivalent weight (i.e. 6.5mm or Diamond 
    equivalent weight of 1.00ct).
  </p>
  <div class="c-column-flex-2 padding-top-xsm">
    <div class="c-color-chart">
      <div class="c-column-flex-10">
        <div class="c-color-chart-table">
          <div class="c-column-flex-1 c-color-cell">
            <p>.23ct</p>
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/23.png?7004022191881242067">
            <p>4mm</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <p>.50ct</p>
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/5.png?7004022191881242067">
            <p>5mm</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <p>.80ct</p>
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/8.png?7004022191881242067">
            <p>6mm</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <p>1.00ct</p>
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/1.00.png?6082700097070147131">
            <p>6.5mm</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <p>1.20ct</p>
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/1.2.png?7004022191881242067">
            <p>7mm</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <p>1.50ct</p>
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/1.5.png?7004022191881242067">
            <p>7.5mm</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <p>1.90ct</p>
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/1.9.png?7004022191881242067">
            <p>8mm</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <p>2.20ct</p>
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/2.2.png?7004022191881242067">
            <p>8.5mm</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <p>2.70ct</p>
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/2.7.png?7004022191881242067">
            <p>9mm</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <p>3.10ct</p>
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/3.1.png?7004022191881242067">
            <p>9.5mm</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-width padding-top-xl">
  <div class="spec-container">
    <div class="align--center">
      <h3 class="c-section-header-md">Specifications</h3>
    </div>
    <div class="c-column-flex-container padding-top-l">
      <div class="c-column-flex-1 padding-right-s">
        <p class="margin-bottom-xxs">RING DETAILS</p>
        <hr class="c-hr margin-none">
        <p class="padding-top-xs"><strong>Style:</strong> Solitaire</p>
        <p><strong>Metal:</strong> 14k Gold</p>
        <p><strong>Average Width:</strong> 1.5mm</p>
        <p><strong>Rhodium Finish:</strong> White Gold only</p>
        <p><strong>Setting:</strong> Six prong</p>
      </div>
      <div class="c-column-flex-1 padding-right-s">
        <p class="margin-bottom-xxs">STONE DETAILS</p>
        <hr class="c-hr margin-none">
        <p class="padding-top-xs"><strong>Gemstone:</strong> Moissanite</p>
        <p><strong>Shape:</strong> Round Brilliant</p>
        <p><strong>Average Color:</strong> D/E/F</p>
        <p><strong>Average Clarity:</strong> IF/VVS1</p>
        <p><strong>Average Cut:</strong> Excellent</p>
      </div> 
      <div class="c-column-flex-1 padding-right-s">
        <p class="margin-bottom-xxs">STONE DETAILS</p>
        <hr class="c-hr margin-none">
        <p class="padding-top-xs "><strong>Polish:</strong> Excellent</p>
        <p><strong>Symmetry:</strong> Excellent</p>
        <p><strong>Warranty:</strong><br>1 year warranty. See <strong>gemanewyork.com/legal</strong>
        </p>
        <p>Support at support@gemanewyork.com</p>
      </div>
      <div class="c-column-flex-1 padding-right-s">
        <p class="margin-bottom-xxs">ETHICAL STANDARDS</p>
        <hr class="c-hr margin-none">
        <p class="padding-top-xs">Beyond conflict free</p>
        <p>Responsibly lab crafted</p>
        <p>SCS certified recycled precious metals</p>
        <p>Fair pricing commitment</p>
        <p>Made in the USA</p>
      </div>
    </div>
  </div>
</div>

<div class="page-width padding-top-l padding-bottom-l m-padding-top-s m-padding-bottom-m">
  <div class="c-column-flex-container c-mobile-flex-column">
    <div class="c-column-flex-2">
      <img class="js-tab-image active image-resize-m" src="https://cdn.shopify.com/s/files/1/2109/1565/files/round_gem.jpg?11794514832757302909"/>
      <img class="js-tab-image hidden" src="https://cdn.shopify.com/s/files/1/2109/1565/files/plain-yg-front.jpg?12684522907274473923"/>
      <img class="js-tab-image hidden" src="https://cdn.shopify.com/s/files/1/2109/1565/files/plain-rg-front.jpg?12684522907274473923"/>
      <img class="js-tab-image hidden" src="https://cdn.shopify.com/s/files/1/2109/1565/files/plain-wg-front.jpg?12684522907274473923"/>
    </div>
    <div class="c-column-flex-2 padding-left-l m-padding-left-none">
      <h2 class="c-header-l text-center">It's In The Details</h2>
      <div class="c-metal-select__tabs padding-top-m padding-bottom-m m-padding-top-s m-padding-bottom-s">
        <div class="c-metal-select__tablink js-tablink active" data-index=0><label>Gem Specs</label></div>
        <div class="c-metal-select__tablink js-tablink" data-index=1><label>Metal Specs</label></div>
        <div class="c-metal-select__tablink js-tablink" data-index=2><label>14K Rose Gold</label></div>
        <div class="c-metal-select__tablink js-tablink" data-index=3><label>Platinum</label></div>
      </div>
      <div class="c-metal-select__dropdown-wrapper">
        <select class="custom-product-select js-select">
          <option data-index=0>Gem Specs</option>
          <option data-index=1>Metal Specs</option>
          <option data-index=2>14K Rose Gold</option>
          <option data-index=3>Platinum</option>
        </select>
      </div>
      <div class="c-metal-select__tabs-content js-tab-content active">
        <label>Material</label>
        <ul class="c-ul-decoration padding-top-xs padding-bottom-s">
          <li class="margin-none"><label>Color</label>D-E-F Range</li>
          <hr>
          <li class="margin-none"><label>Color</label>D-E-F Range</li>
          <hr>
          <li class="margin-none"><label>Color</label>D-E-F Range</li>
          <hr>
          <li class="margin-none"><label>Color</label>D-E-F Range</li>
          <hr>
          <li class="margin-none"><label>Color</label>D-E-F Range</li>
          <hr>
        </ul>
      </div>
      <div class="c-metal-select__tabs-content js-tab-content hidden">
        <label>Material</label>
        <ul class="c-ul-decoration padding-top-xs padding-bottom-s">
          <li class="margin-none">Yellow Gold: A blend of 59% natural yellow gold and 41% fine whitening 
            alloys. The most ideal blend to produce a durable metal for everyday wear.</li>
          <li>Rose Gold: A blend of 58% natural yellow gold, 41% copper 
            alloys, and 5% silver. The most balanced blend to produce a perfect blush-rosey hue.</li>
        </ul>
      </div>
      <div class="c-metal-select__tabs-content js-tab-content hidden">
        <label>Material</label>
        <ul class="c-ul-decoration padding-top-xs padding-bottom-s">
          <li class="margin-none">A blend of 59% natural yellow gold, 41% copper 
            alloys, and 5% silver. The most ideal blend to produce a rose blush hue.</li>
        </ul>
      </div>
      <div class="c-metal-select__tabs-content js-tab-content hidden">
        <label>Material</label>
        <ul class="c-ul-decoration padding-top-xs padding-bottom-s">
          <li class="margin-none">A blend of 59% natural yellow gold, 41% copper 
            alloys, and 5% silver. The most ideal blend to produce a rose blush hue.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  TabsManager.initialize("js-tablink", "js-tab-content", "js-tab-image", "js-select");
</script>


<div class="page-width c-section-center padding-top-xl padding-bottom-xl m-padding-top-l m-padding-bottom-l">
  <h3 class="c-header-l text-center">When It's Quality, You Can See It&mdash;It's That Simple.</h3>
  <p class="padding-top-s text-light text-center">
    Our gems are created with only the features people care about.
  </p>
  <div class="align--top-middle">
    <img class="image-resize-s padding-top-m m-padding-top-m" src="https://cdn.shopify.com/s/files/1/2109/1565/files/round_gem.jpg?1343363835355178047" alt="Moissanite Top">
  </div>
  <div class="padding-top-l m-padding-top-s">
    <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-third m-padding-top-s">
      <label>COLOR</label>
      <p>Our Moissanites are an icy-white color without grey or yellow hues. Zero cloudiness and will never change color.</p>
    </div>
    <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-third m-padding-top-s">
      <label>CLARITY</label>
      <p>Minimal inclusions results in a crystal clear appearance. The gem's structural bond will not absorb micro-particles from the environment.</p>
    </div>
    <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-third m-padding-top-s">
      <label>CUT</label>
      <p>Cut to ideal proportions for maximum light refraction resulting in brilliant sparkle and shine.</p>
    </div>
  </div>
</div>

<div class="page-width c-section-center padding-top-xl padding-bottom-xl m-padding-top-m m-padding-bottom-l">
  <h3 class="c-header-l text-center">We Could Charge $8,000, But We Chose Not To.</h3>
  <p class="padding-top-s text-light text-center">
    We believe price is not reflective of quality. We just don't feel it is fair to charge more than we need.</p>
  <div class="page-width padding-top-m padding-bottom-s">
    <div class="c-column-flex-container c-price-comparison-chart c-mobile-hide">
      <div class="c-column-flex-1 c-price-comparison-chart__column">
        <div class="c-price-comparison-chart__row h2"></div>
        <div class="c-price-comparison-chart__row">1.00ct</div>
        <div class="c-price-comparison-chart__row">1.20ct</div>
        <div class="c-price-comparison-chart__row">1.50ct</div>
        <div class="c-price-comparison-chart__row">1.90ct</div>
        <div class="c-price-comparison-chart__row">2.20ct</div>
      </div>
      <div class="c-column-flex-1 c-price-comparison-chart__gema c-price-comparison-chart__column">
        <div class="c-price-comparison-chart__row h2">Gema & Co.<br>(Moissanite)</div>
        <div class="c-price-comparison-chart__row">$500</div>
        <div class="c-price-comparison-chart__row">$600</div>
        <div class="c-price-comparison-chart__row">$700</div>
        <div class="c-price-comparison-chart__row">$800</div>
        <div class="c-price-comparison-chart__row">$900</div>
      </div>
      <div class="c-column-flex-1 c-price-comparison-chart__column">
        <div class="c-price-comparison-chart__row h2">Brilliant Earth<br>(Moissanite)</div>
        <div class="c-price-comparison-chart__row">$800</div>
        <div class="c-price-comparison-chart__row">$900</div>
        <div class="c-price-comparison-chart__row">$1000</div>
        <div class="c-price-comparison-chart__row">$1100</div>
        <div class="c-price-comparison-chart__row">$1200</div>
      </div>
      <div class="c-column-flex-1 c-price-comparison-chart__column">
        <div class="c-price-comparison-chart__row h2">Blue Nile<br>(Diamond)</div>
        <div class="c-price-comparison-chart__row">$6000</div>
        <div class="c-price-comparison-chart__row">$7,500</div>
        <div class="c-price-comparison-chart__row">$11,500</div>
        <div class="c-price-comparison-chart__row">$19,000</div>
        <div class="c-price-comparison-chart__row">$22,000</div>
      </div>
      <div class="c-column-flex-1 c-price-comparison-chart__column">
        <div class="c-price-comparison-chart__row h2">Harry Winston<br>(Diamond)</div>
        <div class="c-price-comparison-chart__row">$9,000</div>
        <div class="c-price-comparison-chart__row">$9,500</div>
        <div class="c-price-comparison-chart__row">$13,500</div>
        <div class="c-price-comparison-chart__row">$21,000</div>
        <div class="c-price-comparison-chart__row">$25,000</div>
      </div>
    </div>

    <div class="m-price-comparison-chart c-desktop-hide">
      <div class="h2">Gema & Co.</div>
      <div class="c-column-flex-container">
        <div class="c-column-flex-1">
          <div class="c-price-comparison-chart__row">White Gold</div>
          <div class="c-price-comparison-chart__row">Yellow Gold</div>
          <div class="c-price-comparison-chart__row">Rose Gold</div>
          <div class="c-price-comparison-chart__row">Platinum</div>
        </div>
        <div class="c-column-flex-1">
          <div class="c-price-comparison-chart__row">$1</div>
          <div class="c-price-comparison-chart__row">$2</div>
          <div class="c-price-comparison-chart__row">A blend of 59% natural yellow gold, 41% copper 
            alloys, and 5% silver. The most ideal blend to produce a rose blush hue.</div>
          <div class="c-price-comparison-chart__row">$4</div>
        </div>
      </div>
    </div>
  </div>
  <p class="padding-top-s text-light text-center">
    Prices are sample, non-sale examples based on a review of round gemstones on Brilliant Earth, Blue Nile and Harry Winston's websites as of 11/22/2017.</p>
</div>

<div class="c-engagement-container">
  <div class="page-width c-section-center padding-top-xl padding-bottom-xl m-padding-top-l m-padding-bottom-l">
    <h3 class="c-header-l text-center">We Bet You Will Love Your Engagement Ring</h3>
    <p class="padding-top-m text-light text-center c-page-width-m">
      We can’t guarantee you’ll love it, but we can bet with 97% certainty 
      you will. 97 out of 100 people keep their engagement ring.
    </p>
    <div class="align--top-middle">
      <img class="image-resize-m padding-top-m" src="https://cdn.shopify.com/s/files/1/2109/1565/files/navy_percentage.png?13105233165038385277" alt="Percentage">
    </div>
    <div class="c-page-width-m">
      <p class="padding-top-m m-padding-top-s">Five years ago, our founder was stuck with no practical options for engagement rings. 
        Since then, we have set out to take care of every customer whether 
        they love our jewelry or not.</p>
      <p>We’ve simplified the return process as much as possible. 
        We hope you’ll love our jewelry, but if you don’t, simply 
        let us know, and you'll get a full refund.</p>
    </div>
  </div>
</div>

<div class="page-width margin-bottom-m c-engagement-container">
  <div class="c-section-center c-page-width-s padding-top-m padding-bottom-m">
    <p class="c-mini-header padding-bottom-s">OUR PROMISE</p>
    <h3 class="c-header-l">Free shipping and free returns, always</h3>
    <p class="padding-top-m text-light">
      We have a 30-day, no-questions-asked return policy for all our
      jewelry as well as a one-year, no-damage guarantee for our gemstones; 
      we’ll replace your damaged gemstones for free within the first 12 months.
    </p>
  </div>
</div>

<hr>
<div class="page-width">
  <div class="c-section-center text-center padding-top-s padding-bottom-l m-padding-top-s m-padding-bottom-s">
    <h3 class="c-header-xl padding-bottom-s">Three months salary not required</h3> 
    <a href="/collections/engagement-rings" class="btn c-primary-btn">
      <b>Shop Now</b>
    </a>
  </div>
</div>


<div class="page-width padding-top-l padding-bottom-xl m-padding-top-s">
  <div class="c-section-center c-page-width-s padding-top-m">
    <p class="c-mini-header padding-bottom-s">HERE'S THE CRUCIAL BIT</p>
    <h3 class="c-header-xl">The Moissanite gemstone</h3>
    <p class="padding-top-m text-light">
      Moissanite is a rare gemstone that originates from space meteorites and is 
      a clear gemstone with the same look and durability as Diamond. It's not following traditions, sure, 
      but we think its for the better. It's the new way of doing things. We call it a Practical Engagement.
    </p>
  </div>
</div> -->


<!-- <div class="c-hero__m-stacked-text">
  <div class="hero hero-width c-landing-3">
  </div>
  <div class="m-stacked-text__container text-white text-center">
    <div class="m-stacked-text__left">
      <div class="m-padding-top-m padding-left-s padding-right-s">
        <h2 class="c-header-xl">The Timeless Engagement</h2>
        <p class="padding-top-s m-padding-top-s margin-none text-white">Shapes and sizes galore—starting at $500, including gold or platinum ring setting.</p> 
        <div class="padding-top-s m-padding-top-s">
          <a href="/collections/engagement-rings"><btn class="btn c-secondary-btn"><b>Shop engagement</b></btn></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c-hero__m-stacked-text padding-top-m">
  <div class="split-screen__image-container">
    <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/blog-hero-1_85db1a77-a6ef-4471-9598-9b687ac6c72a.png?1831599432067432610" alt="Moissanite Secret">
  </div>
  <div class="m-stacked-text__container">
    <div class="m-stacked-text__right text-center">
      <div class="m-padding-top-m padding-left-s padding-right-s">
        <h2 class="c-header-xl">The secret is out</h2>
        <p class="padding-top-s m-padding-top-s text-light margin-none">Jewelers kept Moissanite away from consumers for decades. Until now.</p> 
        <div class="padding-top-s m-padding-top-s">
          <a href="/pages/the-truth"><btn class="btn c-secondary-btn"><b>The truth</b></btn></a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="c-hero__m-stacked-text padding-top-m">
  <div class="hero hero-width c-landing-5">
  </div>
  <div class="m-stacked-text__container text-white text-center">
    <div class="m-stacked-text__left">
      <div class="m-padding-top-m padding-left-s padding-right-s">
        <h2 class="c-header-xl">Home Try-On</h2>
        <p class="padding-top-s m-padding-top-s margin-none text-white">Want to try before you buy?<br>Get a free trial.</p> 
        <div class="padding-top-s m-padding-top-s">
          <btn class="btn c-secondary-btn"><b>Learn More</b></btn>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="c-hero__m-stacked-text m-padding-top-m">
  <div class="hero hero-width c-landing-4">
  </div>
</div>
    
<script src="{{ 'tabs-manager.js' | asset_url }}"></script>
<script>
  TabsManager.initialize("js-tablink", "js-tab-content", "js-tab-image");
</script>

{% schema %}
  {
    "name": "C 4 C",
    "class": "index-section",
    "settings": [],
    "presets": [
      {
        "name": "C 4 C",
        "category": "Advanced layout"
      }
    ]
  }
{% endschema %}
