<div class="homepage-landing-carousel glide">
  <div class="hero hero-width c-hero-width c-landing-2">
    <div class="hero__inner c-landing-2-text">
      <h1 class="c-header-xxl text-white padding-bottom-s m-padding-bottom-xs"><b>Conflict Free Moissanite Jewelry</b></h1>
      <p class="text-white c-mobile-hide">
        Introducing the world's most brilliant gemstone. A conflict free, socially, and environmentally responsible choice for engagement rings and jewelry. Truly a gemstone worth choosing.
      </p>
      <div class="padding-top-s">
        <a href="/collections/engagement-rings" class="clear-cta-btn c-label">Shop Engagement</a>
      </div>
    </div>
  </div>
</div>

<div class="page-width c-mobile-page-width-none-override c-column-flex-container c-mobile-flex-column">
  <div class="c-column-flex-1">
    <div class="homepage-splitscreen one">
      <div class="splitscreen-wedding-bands">
        <div class="splitscreen-text text-center">
          <h2 class="c-header-xl text-white padding-bottom-xs"><b>Wedding Bands</b></h2>
          <div class="padding-top-s">
            <a href="/collections/wedding-bands" class="clear-cta-btn c-label">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-column-flex-1">
    <div class="homepage-splitscreen two">
      <div class="splitscreen-earrings">
        <div class="splitscreen-text text-center">
          <h3 class="c-header-xl text-white padding-bottom-xs"><b>Simple Studs</b></h3>
          <div class="padding-top-s">
            <a href="/collections/earrings" class="clear-cta-btn c-label">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-width padding-top-m padding-bottom-l m-padding-top-l m-padding-bottom-m">
  <h2 class="c-header-xl padding-bottom-xs text-center">Shop Moissanite</h2>
  <div class="moissanite-slider glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        {% for product in collections['loose-gems'].products %}
          <li class="glide__slide"> 
            <a class="text-center" href="{{ product.url }}">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              <h4 class="c-negative-transform-medium c-mobile-product-header m-margin-bottom-xs">{{ product.title | escape  }}</h4>
              <div class="c-negative-transform-medium">
                {% unless product.compare_at_price > product.price %}
                  <span class="starting-at"><i>Starting at</i></span>
                {% endunless %}
                {% include 'product-price' %}
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div data-glide-el="controls">
      <button class="glide__arrow glide__arrow--prev" data-glide-dir="<">{% include 'icon-chevron-left' %}</button>
      <button class="glide__arrow glide__arrow--next" data-glide-dir=">">{% include 'icon-chevron-right' %}</button>
    </div>
  </div>
</div>

<div class="c-column-flex-container c-bespoke-container">
  <div class="c-column-flex-1">
    <div class="c-landing-bespoke">
      <div class="c-bespoke-text-container c-mobile-hide">
        <div class="bespoke-text text-center">
          <h2 class="c-header-xl text-white padding-bottom-s"><b>Design Your Own</b></h2>
          <div class="padding-top-s">
            <a href="/pages/bespoke" class="clear-cta-btn c-label"><b>Discover Bespoke</b></a>
          </div>
        </div>
      </div>
      <div class="bespoke-text-mobile c-desktop-hide text-center">
        <h2 class="c-header-xl text-white padding-bottom-s"><b>Design Your Own</b></h2>
        <div class="padding-top-s">
          <a href="/pages/bespoke" class="clear-cta-btn c-label">Discover Bespoke</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-width c-page-width-s padding-top-m padding-bottom-l m-padding-top-s m-padding-bottom-m text-center">
  <div class="c-section-center padding-top-m">
    <h3 class="c-header-l padding-bottom-s m-padding-bottom-xs c-custom-header">Our Story</h3>
    <p class="padding-top-none m-padding-top-none">
      Our goal is simple. We want to make celebrating love and marriage less commercialized 
      and more accessible. That's why we're trending away from over-marketed Diamonds and 
      introducing conflict-free and environmentally friendly Moissanite gemstones. 
    </p>
    <p>It's a different way of doing things, sure, but we think its for the better.
      It's a new outlook on old traditions. A new generation of engagement rings.
    </p>
    <a href="/pages/our-story" class="clear-cta-btn c-label"><u>Read More</u></a>
  </div>
</div>

<div class="page-width c-mobile-page-width-none-override c-column-flex-container c-mobile-flex-column">
  <div class="c-column-flex-1">
    <div class="homepage-splitscreen one">
      <div class="splitscreen-4Cs">
        <div class="splitscreen-text text-center">
          <h2 class="c-header-xl text-white padding-bottom-xs"><b>The 4Cs of Moissanite</b></h2>
          <div class="padding-top-s">
            <a href="/pages/the-4-cs" class="clear-cta-btn c-label">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-column-flex-1">
    <div class="homepage-splitscreen two">
      <div class="splitscreen-material-care">
        <div class="splitscreen-text text-center">
          <h2 class="c-header-xl text-white padding-bottom-xs"><b>Materials and Care</b></h2>
          <div class="padding-top-s">
            <a href="/pages/gemstone" class="clear-cta-btn c-label">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ "glide-slider.js" | asset_url }}" defer="defer"></script>

{% schema %}
  {
    "name": "C Hero Main Homepage",
    "class": "index-section",
    "settings": [],
    "presets": [
      {
        "name": "C Hero Main Homepage",
        "category": "Advanced layout"
      }
    ]
  }
{% endschema %}
