{% case section.settings.grid %}
  {% when '2' %}
    {%- assign max_height = 530 -%}
  {% when '3' %}
    {%- assign max_height = 345 -%}
  {% when '3.1' %}
    {%- assign max_height = 345 -%}
  {% when '4' %}
    {%- assign max_height = 250 -%}
  {% when '5' %}
    {%- assign max_height = 195 -%}
{% endcase %}

{% if section.settings.layout == 'grid' %}
<!--   {%- assign limit = section.settings.grid | times: section.settings.rows -%} -->
  {%- assign limit = 100 -%}
{% else %}
  {%- assign limit = 16 -%}
{% endif %}

{% paginate collection.products by limit %}

<div data-section-id="{{ section.id }}" data-section-type="collection-template" class="c-engagement-container">
  <header class="collection-header">

    {% if section.settings.show_collection_image and collection.image %}
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset', image: collection.image %}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url('{{ collection.image | img_url: '300x300' }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ collection.image | img_url: '2048x600', crop: 'top' }});"></div>
        </noscript>
        <div class="collection-hero__title-wrapper">
          <h1 class="collection-hero__title page-width">{{ collection.title }}</h1>
        </div>
      </div>

      {% if collection.description != blank %}
        <div class="rte collection-description page-width">
          {{ collection.description }}
        </div>
      {% endif %}
    {% else %}
      <div class="page-width text-center padding-top-l m-padding-bottom-none">
        <h1 class="c-header-xl">{{ collection.title }}</h1>
<!--         {% if collection.description != blank %}
          <div class="rte">
            {{ collection.description }}
          </div>
        {% endif %} -->
      </div>
    {% endif %}

    {% if section.settings.tags_enable or section.settings.sort_enable %}
      <div class="filters-toolbar-wrapper">
        <div class="page-width">
          <div class="filters-toolbar">
            {% if section.settings.tags_enable %}
              <div class="filters-toolbar__item">
                <label for="SortTags" class="label--hidden">{{ 'collections.filters.title_tags' | t }}</label>
                <select class="filters-toolbar__input filters-toolbar__input--filter hidden" name="SortTags" id="SortTags">
                  {% if current_tags %}
                    {% if collection.handle %}
                      <option value="/collections/{{ collection.handle }}">{{ 'collections.filters.all_tags' | t }}</option>
                    {% elsif collection.current_type %}
                      <option value="{{ collection.current_type | url_for_type }}">{{ 'collections.filters.all_tags' | t }}</option>
                    {% elsif collection.current_vendor %}
                      <option value="{{ collection.current_vendor | url_for_vendor }}">{{ 'collections.filters.all_tags' | t }}</option>
                    {% endif %}
                  {% else %}
                    {% if current_tags contains tag %}
                      <option value="">{{ 'collections.filters.all_tags' | t }}</option>
                    {% else %}
                      <option value="">{{ 'collections.filters.title_tags' | t }}</option>
                    {% endif %}
                  {% endif %}
                  {% for tag in collection.all_tags %}
                    <option value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}"{% if current_tags contains tag %} selected="selected"{% endif %}>{{ tag }}</option>
                  {% endfor %}
                </select>
              </div>
            {% endif %}

            <div class="filters-toolbar__item filters-toolbar__item--count">
              <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
            </div>

            {% if section.settings.sort_enable %}
              <div class="filters-toolbar__item text-right">
                {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                <label for="SortBy" class="label--hidden">{{ 'collections.sorting.title' | t }}</label>
                <select name="SortBy" id="SortBy" class="filters-toolbar__input filters-toolbar__input--sort hidden">
                  {% if sort_by == collection.default_sort_by %}
                    <option value="title-ascending" selected="selected">{{ 'collections.sorting.title' | t }}</option>
                    {% if collection.default_sort_by != 'manual' %}
                      <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
                    {% endif %}
                    {% if collection.default_sort_by != 'best-selling' %}
                      <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
                    {% endif %}
                    {% if collection.default_sort_by != 'title-ascending' %}
                      <option value="title-ascending"{% if sort_by == "title-ascending"  %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
                    {% endif %}
                    {% if collection.default_sort_by != 'title-descending' %}
                      <option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
                    {% endif %}
                    {% if collection.default_sort_by != 'price-ascending' %}
                      <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
                    {% endif %}
                    {% if collection.default_sort_by != 'price-descending' %}
                      <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
                    {% endif %}
                    {% if collection.default_sort_by != 'created-descending' %}
                      <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
                    {% endif %}
                    {% if collection.default_sort_by != 'created-ascending' %}
                      <option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
                    {% endif %}
                  {% else %}
                    <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
                    <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
                    <option value="title-ascending"{% if sort_by == "title-ascending"  %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
                    <option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
                    <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
                    <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
                    <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
                    <option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
                  {% endif %}
                </select>
                <input class="collection-header__default-sort" type="hidden" value="{{ collection.default_sort_by }}">
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  </header>

  <div class="page-width padding-bottom-xl m-padding-top-none m-padding-bottom-xl" id="Collection">
    {% if section.settings.layout == 'grid' %}
      {% case section.settings.grid %}
      {% when '2' %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
      {% when '3' %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
      {% when '3.1' %}
        {%- assign grid_item_width = 'small--one-whole medium-up--one-third' -%}
      {% when '4' %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
      {% when '5' %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
      {% endcase %}

      <div class="grid grid--uniform grid--half-gutters {% if collection.products_count > 0 %} grid--view-items{% endif %}">
        {% for product in collection.products %}
          {% include 'product-card-grid', max_height: max_height %}
        {% else %}
          {% comment %}
          Add default products to help with onboarding for collections/all only.

          The onboarding styles and products are only loaded if the
          store has no products.
          {% endcomment %}
          {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
            <div class="grid__item">
              <div class="grid grid--uniform">
                {% for i in (1..limit) %}
                  <div class="grid__item {{ grid_item_width }}">
                    <div class="grid-view-item">
                      <a href="#" class="grid-view-item__link">
                        <div class="grid-view-item__image">
                          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                        <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                        <div class="grid-view-item__meta">
                          <span class="product-price__price">$19.99</span>
                        </div>
                      </a>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% else %}
            {%- assign is_empty_collection = true -%}
          {% endif %}
        {% endfor %}
      </div>
    {% else %}
      <div class="list-view-items">
        {% for product in collection.products %}
          <a href="{{ product.url | within: collection }}" class="list-view-item">
            {% include 'product-card-list', product: product %}
          </a>
        {% else %}

          {% comment %}
          Add default products to help with onboarding for collections/all only.

          The onboarding styles and products are only loaded if the
          store has no products.
          {% endcomment %}
          {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0%}
            {% for i in (1..4) %}
              <a href="#" class="list-view-item">
                <div class="list-view-item__image-column">
                  <div class="list-view-item__image-wrapper">
                    <div class="list-view-item__image">
                      {%- assign placeholder = 'placeholder-product-' | append: i -%}
                      {% include placeholder %}
                    </div>
                  </div>
                </div>

                <div class="list-view-item__title-column">
                  <div class="list-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                </div>

                <div class="list-view-item__price-column">
                  <span class="product-price__price">$19.99</span>
                </div>
              </a>
            {% endfor %}
          {% else %}
            {%- assign is_empty_collection = true -%}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% if is_empty_collection %}
      <div class="grid__item small--text-center">
        <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% endif %}

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  </div>

  <div class="c-page-width-narrow padding-bottom-l m-padding-top-s m-padding-bottom-m">
    <h3 class="c-header-l padding-bottom-s m-padding-bottom-xs c-custom-header">Gema&Co Moissanite Wedding Bands</h3>
    
    <p>Gema&Co wedding bands use only the most brilliant colorless Charles & Colvard Forever One Moissanite stones or our own premier lab created Resplendent Moissanites. You will find that all of our jewelry only utilizes the highest quality platinum, 14k / 18k yellow gold, rose gold, and white gold mixtures.</p>
    <p>All of our standard rings can be fully customized with your preferred center stone - such as: diamonds, sapphire, ruby, etc. You can also create completely new styles or embrace classic and vintage looks (please visit our <a href="/pages/bespoke"><strong>bespoke</strong></a> page for additional details)</p>
    <p>We offer our men and women's engagement rings and bands at the best possible price year round so that you don't need to worry about timing your engagement with bridal season sales and other shopping gimmicks. Anytime is the perfect time for love!</p>
    <p>You can shop confidently knowing that all of our rings carry superb reviews and that your band will use the best possible color, clarity, cut, carat, and shape available.</p>
    <p>Our selection of moissanite wedding rings includes options to complement your engagement ring perfectly. Whether you’re pairing a moissanite wedding band with an engagement ring you’re already wearing, or you’re looking for a bridal set, we have the perfect wedding band for sale to fit your needs.</p>
    <p>The experts at Gema & Co are here to guide you to the right wedding ring made of moissanite.</p>
    
    <h3 class="c-header-l padding-bottom-s m-padding-bottom-xs c-custom-header">The Significance of a Wedding Band</h3>
    <p>The vows you make on your wedding day are a declaration that you’ve made an unshakable commitment. This commitment is personified by the wedding bands exchanged before loved ones and your community.</p>
    <p>Your wedding day will be one of the lasting memories that you will carry for life. These memories will be aided by the physical reminder of the wedding ring on your finger. The ring also acts as a reflection of your personality, and at Gema & Co, we offer every style so that you get the wedding band of your dreams. Whether you want to enhance the luxury and extravagance of your engagement ring with an intricate moissanite platinum wedding band, or you want to highlight the beauty of your engagement ring with a classic plain band featuring a single burnished 1.4mm Moissanite, there are styles for you.</p>
    <p>On the day of your wedding, you and your spouse will wear your moissanite wedding bands on the left ring finger. The left ring finger carries a vein that leads directly to the heart. This is why wedding bands are traditionally worn on the left ring finger: it's a placement that ties the symbolic bond directly to your heart. Your moissanite band rings display your love and commitment by wearing them on this finger.</p>

    <div class="custom-about-content">
      <div>
        <a href="#" class="js-dropdown-content-link">
          <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
          <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
          <h4 class="c-header-m padding-bottom-s">Difference Between a Wedding Ring and a Wedding Band</h4>
        </a>
        <div class="js-dropdown-content about-content hidden">
          <p>When asked about the difference between a wedding ring and a wedding band, you may believe that a wedding ring is ornate and set with precious gemstones while a wedding band is a plain ring made of gold, silver, platinum, or tungsten without design. However, in truth, the terms are interchangeable.</p>
          <p>Wedding bands are simply the rings exchanged at the end of the wedding vows to show the couple’s shared love and commitment. They can be lavish works of masterful engraving, plain polished bands, or opulent moissanite bands.</p>
        </div>
      </div>
      <div>
        <a href="#" class="js-dropdown-content-link">
          <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
          <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
          <h4 class="c-header-m padding-bottom-s">Matching an Engagement Ring and a Wedding Band</h4>
        </a>
        <div class="js-dropdown-content about-content hidden">
          <p>If you're looking to seamlessly match an engagement ring and wedding band, then the easiest way would be to purchase them as a set. A bridal set has been designed to complement and elevate the beauty of each ring. You may even look for a trio set for the groom to have a complementing band.</p>
          <p>A wedding band certainly doesn’t have to be bought as a set with the engagement ring. There are many ways you can pair an existing engagement ring with a moissanite band ring. It just requires a little creativity.</p>
          <p>One of the most effective methods is to simply match the style of a moissanite band with the <a class="classic-link c-display-inline" href="https://gemaandco.com/collections/engagement-rings">engagement ring</a>. If your engagement ring is a vintage family heirloom, then you might want to consider a vintage-inspired wedding band. For an engagement ring that has intricate engravings, then similarly engraved moissanite wedding bands would pair excellently. You may even choose to have the wedding band be plain, but you will want to avoid a different style of engraving, as this will create a clash.</p>
          <p>You will also want to focus on the width of the rings. A wedding band that is significantly wider can overwhelm a smaller engagement ring with a delicate band. To create a perfect match, you will want them to be approximately the same in dimensions.</p>
          <p>If you want a gemstone on your wedding band, then choosing a matching color can unify the two separate rings.</p>
        </div>
      </div>
      <div>
        <a href="#" class="js-dropdown-content-link">
          <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
          <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
          <h4 class="c-header-m padding-bottom-s">Characteristics of Moissanite: Why Is It Special?</h4>
        </a>
        <div class="js-dropdown-content about-content hidden">
          <p>Moissanite wedding bands are set with a unique gemstone that has its own unique properties: they’re not imitation diamonds. <a class="classic-link c-display-inline" href="https://gemaandco.com/collections/loose-gems">Moissanite stones</a> require precise cutting techniques that must adhere to exact angles to bring out its specific brilliance and fire.</p>
          <p><a class="classic-link c-display-inline" href="https://gemaandco.com/blogs/blog/the-difference-between-moissanite-and-diamond">Moissanite</a> is not naturally found on Earth, and therefore it goes through a meticulous process when being cultivated in a lab. Great care and attention are given to each stone, as unlike other precious gemstones, moissanite has the highest rating on the Brilliance Refractive Index, and its fire is four times that of the most popular other gemstones.</p>
          <p>Moissanite is also an extremely durable gemstone, making it an ideal choice for a wedding band that you wear every day.</p>
          <p>One of the greatest aspects of choosing moissanite wedding bands is that you know they come from a reputable source. Our moissanite diamonds have not infringed on anyone’s human rights and are conflict-free. Each one of our diamonds is extremely eco-friendly, as measures have been put in place to reduce the impact of their creation on the environment. Because of this, you can revel in your love without putting a strain on your conscience.</p>
          <p>Please browse our selection above or contact Gema & Co if you have any questions. We’re sure you’ll find the wedding bands of your dreams that will help kickstart your married life.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  GemaDropdowns.initialize('js-dropdown-content-link');
</script>

{% endpaginate %}

{% schema %}
  {
    "name": "Collection wedding",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "grid",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "list",
            "label": "List"
          }
        ]
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Products per row (grid only)",
        "default": "4",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      },
      {
        "type": "select",
        "id": "rows",
        "label": "Rows per page (grid only)",
        "default": "2",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "7",
            "label": "7"
          },
          {
            "value": "8",
            "label": "8"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sort_enable",
        "label": "Enable sorting",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "tags_enable",
        "label": "Enable tag filtering",
        "default": true
      }
    ]
  }
{% endschema %}
