{% case section.settings.grid %}
  {% when '2' %}
    {%- assign max_height = 530 -%}
  {% when '3' %}
    {%- assign max_height = 345 -%}
  {% when '3.1' %}
    {%- assign max_height = 345 -%}
  {% when '4' %}
    {%- assign max_height = 250 -%}
  {% when '5' %}
    {%- assign max_height = 195 -%}
{% endcase %}

{% if section.settings.layout == 'grid' %}
<!--   {%- assign limit = section.settings.grid | times: section.settings.rows -%} -->
  {%- assign limit = 100 -%}
{% else %}
  {%- assign limit = 16 -%}
{% endif %}

{% paginate collection.products by limit %}

<div data-section-id="{{ section.id }}" data-section-type="collection-template" class="c-engagement-container">
  <header class="collection-header">

    {% if section.settings.show_collection_image and collection.image %}
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset', image: collection.image %}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url('{{ collection.image | img_url: '300x300' }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ collection.image | img_url: '2048x600', crop: 'top' }});"></div>
        </noscript>
        <div class="collection-hero__title-wrapper">
          <h1 class="collection-hero__title page-width">{{ collection.title }}</h1>
        </div>
      </div>

      {% if collection.description != blank %}
        <div class="rte collection-description page-width">
          {{ collection.description }}
        </div>
      {% endif %}
    {% else %}
      <div class="page-width text-center padding-top-l m-padding-bottom-none">
        <h1 class="c-header-xl">{{ collection.title }}</h1>
<!--         {% if collection.description != blank %}
          <div class="rte">
            {{ collection.description }}
          </div>
        {% endif %} -->
      </div>
    {% endif %}

    {% if section.settings.tags_enable or section.settings.sort_enable %}
      <div class="filters-toolbar-wrapper">
        <div class="page-width">
          <div class="filters-toolbar">
            {% if section.settings.tags_enable %}
              <div class="filters-toolbar__item">
                <label for="SortTags" class="label--hidden">{{ 'collections.filters.title_tags' | t }}</label>
                <select class="filters-toolbar__input filters-toolbar__input--filter hidden" name="SortTags" id="SortTags">
                  {% if current_tags %}
                    {% if collection.handle %}
                      <option value="/collections/{{ collection.handle }}">{{ 'collections.filters.all_tags' | t }}</option>
                    {% elsif collection.current_type %}
                      <option value="{{ collection.current_type | url_for_type }}">{{ 'collections.filters.all_tags' | t }}</option>
                    {% elsif collection.current_vendor %}
                      <option value="{{ collection.current_vendor | url_for_vendor }}">{{ 'collections.filters.all_tags' | t }}</option>
                    {% endif %}
                  {% else %}
                    {% if current_tags contains tag %}
                      <option value="">{{ 'collections.filters.all_tags' | t }}</option>
                    {% else %}
                      <option value="">{{ 'collections.filters.title_tags' | t }}</option>
                    {% endif %}
                  {% endif %}
                  {% for tag in collection.all_tags %}
                    <option value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}"{% if current_tags contains tag %} selected="selected"{% endif %}>{{ tag }}</option>
                  {% endfor %}
                </select>
              </div>
            {% endif %}

            <div class="filters-toolbar__item filters-toolbar__item--count">
              <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
            </div>

            {% if section.settings.sort_enable %}
              <div class="filters-toolbar__item text-right">
                {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                <label for="SortBy" class="label--hidden">{{ 'collections.sorting.title' | t }}</label>
                <select name="SortBy" id="SortBy" class="filters-toolbar__input filters-toolbar__input--sort hidden">
                  {% if sort_by == collection.default_sort_by %}
                    <option value="title-ascending" selected="selected">{{ 'collections.sorting.title' | t }}</option>
                    {% if collection.default_sort_by != 'manual' %}
                      <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
                    {% endif %}
                    {% if collection.default_sort_by != 'best-selling' %}
                      <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
                    {% endif %}
                    {% if collection.default_sort_by != 'title-ascending' %}
                      <option value="title-ascending"{% if sort_by == "title-ascending"  %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
                    {% endif %}
                    {% if collection.default_sort_by != 'title-descending' %}
                      <option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
                    {% endif %}
                    {% if collection.default_sort_by != 'price-ascending' %}
                      <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
                    {% endif %}
                    {% if collection.default_sort_by != 'price-descending' %}
                      <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
                    {% endif %}
                    {% if collection.default_sort_by != 'created-descending' %}
                      <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
                    {% endif %}
                    {% if collection.default_sort_by != 'created-ascending' %}
                      <option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
                    {% endif %}
                  {% else %}
                    <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
                    <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
                    <option value="title-ascending"{% if sort_by == "title-ascending"  %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
                    <option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
                    <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
                    <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
                    <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
                    <option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
                  {% endif %}
                </select>
                <input class="collection-header__default-sort" type="hidden" value="{{ collection.default_sort_by }}">
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  </header>

  <div class="page-width padding-bottom-xl m-padding-top-none m-padding-bottom-xl" id="Collection">
    {% if section.settings.layout == 'grid' %}
      {% case section.settings.grid %}
      {% when '2' %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
      {% when '3' %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
      {% when '3.1' %}
        {%- assign grid_item_width = 'small--one-whole medium-up--one-third' -%}
      {% when '4' %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
      {% when '5' %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
      {% endcase %}

      <div class="grid grid--uniform grid--half-gutters {% if collection.products_count > 0 %} grid--view-items{% endif %}">
        {% for product in collection.products %}
          {% include 'product-card-grid', max_height: max_height %}
        {% else %}
          {% comment %}
          Add default products to help with onboarding for collections/all only.

          The onboarding styles and products are only loaded if the
          store has no products.
          {% endcomment %}
          {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
            <div class="grid__item">
              <div class="grid grid--uniform">
                {% for i in (1..limit) %}
                  <div class="grid__item {{ grid_item_width }}">
                    <div class="grid-view-item">
                      <a href="#" class="grid-view-item__link">
                        <div class="grid-view-item__image">
                          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                        <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                        <div class="grid-view-item__meta">
                          <span class="product-price__price">$19.99</span>
                        </div>
                      </a>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% else %}
            {%- assign is_empty_collection = true -%}
          {% endif %}
        {% endfor %}
      </div>
    {% else %}
      <div class="list-view-items">
        {% for product in collection.products %}
          <a href="{{ product.url | within: collection }}" class="list-view-item">
            {% include 'product-card-list', product: product %}
          </a>
        {% else %}

          {% comment %}
          Add default products to help with onboarding for collections/all only.

          The onboarding styles and products are only loaded if the
          store has no products.
          {% endcomment %}
          {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0%}
            {% for i in (1..4) %}
              <a href="#" class="list-view-item">
                <div class="list-view-item__image-column">
                  <div class="list-view-item__image-wrapper">
                    <div class="list-view-item__image">
                      {%- assign placeholder = 'placeholder-product-' | append: i -%}
                      {% include placeholder %}
                    </div>
                  </div>
                </div>

                <div class="list-view-item__title-column">
                  <div class="list-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                </div>

                <div class="list-view-item__price-column">
                  <span class="product-price__price">$19.99</span>
                </div>
              </a>
            {% endfor %}
          {% else %}
            {%- assign is_empty_collection = true -%}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% if is_empty_collection %}
      <div class="grid__item small--text-center">
        <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% endif %}

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  </div>

  <div class="c-page-width-narrow padding-bottom-l m-padding-top-s m-padding-bottom-m">
    <h3 class="c-header-l padding-bottom-s m-padding-bottom-xs c-custom-header">Gema&Co Loose Moissanite</h3>
    
    <p>Gema&Co loose Moissanite consist of the most brilliant colorless Charles & Colvard Forever One Moissanite stones and our own premier lab created Resplendent Moissanites . Each gemstone is hand selected and guaranteed to have the best color, cut, carat, shape, and brilliance possible. You will find that our Moissanites are created to have the most fire and shine the brightest in any light conditions. They are perfect in any size for your new white, rose, or yellow gold classic solitaires.</p>
    <p>If you are interested in diamonds or our diamond jewelry, please visit our <a class="classic-link c-display-inline" href="https://gemaandco.com/pages/bespoke">bespoke page</a> for additional help and details.</p>
    <p>We offer our men and women's engagement rings, bands, and loose Moissanite at the best possible price year round so that you don't need to worry about timing your engagement with seasonal sales and other shopping gimmicks. Anytime is the perfect time for love!</p>
    <p>You can buy confidently knowing that our entire collection carries excellent reviews and that your order will receive the upmost care and attention from start to finish.</p>
    <p>A moissanite stone shares the lavish look of a diamond and,. for most people, the two are indistinguishable. However, moissanite stones do offer a more brilliant display of refracted light. The added dazzling qualities, along with the fact that you can find moissanite stones for sale at a fraction of the price of a similar diamond, makes these jewels an increasingly popular choice.</p>
    
    <div class="custom-about-content">
      <div>
        <a href="#" class="js-dropdown-content-link">
          <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
          <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
          <h4 class="c-header-m padding-bottom-s">What is Moissanite?</h4>
        </a>
        <div class="js-dropdown-content about-content hidden">
          <p>The moissanite gemstone was initially born from stardust, finding its way to Earth via meteors. Initially discovered by Dr. Henri Moissan in an ancient meteor impact site in Arizona, he had, understandably, thought he found diamonds. It was a little more than a decade later that it was uncovered that the crystals were, in fact, silicon carbide (<a class="classic-link c-display-inline" href="https://gemaandco.com/blogs/blog/the-difference-between-moissanite-and-diamond">moissanite</a>).</p>
          <p>Loose moissanite deposits are incredibly rare, with the first one after Moissan’s discovery occurring fifty years later. However, due to advances in technology, scientists were able to create a process for artificially-made moissanite gem samples grown in a lab.</p>
          <p>A moissanite stone is designed to mimic the visual properties of a diamond. However, the composition of this jewel is significantly different from its traditional counterpart.</p>
          <p>Thanks to the strictly controlled lab environment, you can only find moissanite for sale that has been thoroughly inspected.</p>
          <p>Compared to natural gemstones, a moissanite stone is easily traceable. There is no controversial mining involved. This means that when you make your purchase, you know that you’re making an ethical decision as it is conflict-free and leaves a smaller carbon footprint.</p>
        </div>
      </div>
      <div>
        <a href="#" class="js-dropdown-content-link">
          <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
          <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
          <h4 class="c-header-m padding-bottom-s">Characteristics of Moissanite</h4>
        </a>
        <div class="js-dropdown-content about-content hidden">
          <p>Moissanite’s natural characteristic is to display a magnificent brilliance. The jewel’s ability to reflect light is second to none. One of the main differences between a moissanite stone and a diamond is that it has a more exceptional sparkle. Moissanite also has a higher level of dispersion, this is its ability to reflect colored light (known as fire).</p>
          <p>The original moissanite created in the 1980s held a significantly yellow or even yellow-green hue. This would be equivalent to a GIA-certified K-color diamond. Charles & Colvard, the patent holders of artificially created moissanite, would strive to develop near-colorless gemstones, eventually crafting a line of magnificent moissanite stones.</p>
          <p>These scientists manufactured the first near-colorless moissanite called Forever Brilliant. This series of jewels were comparable to a GIA-certified H-color diamond. These stones became an instant hit for those looking for an ethical alternative for their <a class="classic-link c-display-inline" href="https://gemaandco.com/collections/engagement-rings">engagement ring</a>.</p>
          <p>However, Charles & Colvard would not rest on their laurels and pushed forward to develop a shimmering white stone for their new Forever One Colorless line of moissanite stones. You now have access to colorless moissanite loose stones. These have a color similar to an E-color diamond.</p>
        </div>
      </div>
      <div>
        <a href="#" class="js-dropdown-content-link">
          <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
          <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
          <h4 class="c-header-m padding-bottom-s">Advantages of Loose Moissanite Gemstones</h4>
        </a>
        <div class="js-dropdown-content about-content hidden">
          <p>There are several benefits of purchasing loose moissanite stones. Maybe you’re looking for the perfect shape, size, cut, and clarity to be the focal piece for a new piece of jewelry. Or it could be that you’re an avid collector of gemstones and would love to have one with fabulous properties at a reasonable price.</p>
          <p>With loose moissanite stones, you can check their quality more effectively, as the setting may hide some inclusions or blemishes. A jewel that has already been set in a band can also have its displayed color impacted. This makes it harder to determine its actual value.</p>
          <p>The primary benefit of choosing a loose stone is that you have the freedom of choice. You can dictate the exact gem that you're looking for, and since it’s loose, you won’t have to pay extra for a setting that you may not want.</p>
          <p>Gema & Co loose moissanite offers only the most brilliant colorless Charles & Colvard Forever One moissanite stones. Each gemstone is meticulously curated, guaranteeing that you’re going to get the best in brilliance and fire.</p>
        </div>
      </div>
      <div>
        <a href="#" class="js-dropdown-content-link">
          <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
          <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
          <h4 class="c-header-m padding-bottom-s">Costs of Loose Stones vs Set Stones</h4>
        </a>
        <div class="js-dropdown-content about-content hidden">
          <p>When it comes to selecting the perfect engagement ring, many factors can affect the overall cost.</p>
          <p>Unsurprisingly, many who begin looking for the right ring are unaware that purchasing a loose stone is even an option. They assume that they must choose from a finite selection of preset rings.</p>
          <p>Even if they know that a loose stone is an option, they may believe that crafting a bespoke ring is more expensive or too time-consuming.</p>
          <p>However, it’s significantly less expensive to purchase loose moissanite stones than one in a set. This is especially true if you have a strict budget that you need to control while having a design in mind. The savings come by choosing a center stone in your budget, and then having a setting crafted precisely how you want it.</p>
          <p>At Gema & Co, we offer <a class="classic-link c-display-inline" href="https://gemaandco.com/pages/bespoke">custom moissanite rings</a> created uniquely for you. After a consultation with one of our experts, we can cut a moissanite gemstone to the exact dimension you envisioned and set it in a unique frame.</p>
          <p>If you would like to learn more about how to design your piece of moissanite stone jewelry, contact our team today.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  GemaDropdowns.initialize('js-dropdown-content-link');
</script>

{% endpaginate %}

{% schema %}
  {
    "name": "Collection loose",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "grid",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "list",
            "label": "List"
          }
        ]
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Products per row (grid only)",
        "default": "4",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      },
      {
        "type": "select",
        "id": "rows",
        "label": "Rows per page (grid only)",
        "default": "2",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "7",
            "label": "7"
          },
          {
            "value": "8",
            "label": "8"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sort_enable",
        "label": "Enable sorting",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "tags_enable",
        "label": "Enable tag filtering",
        "default": true
      }
    ]
  }
{% endschema %}
