{% case section.settings.grid %}
  {% when '2' %}
    {%- assign max_height = 530 -%}
  {% when '3' %}
    {%- assign max_height = 345 -%}
  {% when '3.1' %}
    {%- assign max_height = 345 -%}
  {% when '4' %}
    {%- assign max_height = 250 -%}
  {% when '5' %}
    {%- assign max_height = 195 -%}
{% endcase %}

{% if section.settings.layout == 'grid' %}
<!--   {%- assign limit = section.settings.grid | times: section.settings.rows -%} -->
  {%- assign limit = 100 -%}
{% else %}
  {%- assign limit = 16 -%}
{% endif %}

{% paginate collection.products by limit %}

<div data-section-id="{{ section.id }}" data-section-type="collection-template" class="c-engagement-container">
  <header class="collection-header">

    {% if section.settings.show_collection_image and collection.image %}
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset', image: collection.image %}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url('{{ collection.image | img_url: '300x300' }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ collection.image | img_url: '2048x600', crop: 'top' }});"></div>
        </noscript>
        <div class="collection-hero__title-wrapper">
          <h1 class="collection-hero__title page-width">{{ collection.title }}</h1>
        </div>
      </div>

      {% if collection.description != blank %}
        <div class="rte collection-description page-width">
          {{ collection.description }}
        </div>
      {% endif %}
    {% else %}
      <div class="page-width text-center padding-top-l m-padding-bottom-none">
        <h1 class="c-header-xl">{{ collection.title }}</h1>
<!--         {% if collection.description != blank %}
          <div class="rte">
            {{ collection.description }}
          </div>
        {% endif %} -->
      </div>
    {% endif %}

    {% if section.settings.tags_enable or section.settings.sort_enable %}
      <div class="filters-toolbar-wrapper">
        <div class="page-width">
          <div class="filters-toolbar">
            {% if section.settings.tags_enable %}
              <div class="filters-toolbar__item">
                <label for="SortTags" class="label--hidden">{{ 'collections.filters.title_tags' | t }}</label>
                <select class="filters-toolbar__input filters-toolbar__input--filter hidden" name="SortTags" id="SortTags">
                  {% if current_tags %}
                    {% if collection.handle %}
                      <option value="/collections/{{ collection.handle }}">{{ 'collections.filters.all_tags' | t }}</option>
                    {% elsif collection.current_type %}
                      <option value="{{ collection.current_type | url_for_type }}">{{ 'collections.filters.all_tags' | t }}</option>
                    {% elsif collection.current_vendor %}
                      <option value="{{ collection.current_vendor | url_for_vendor }}">{{ 'collections.filters.all_tags' | t }}</option>
                    {% endif %}
                  {% else %}
                    {% if current_tags contains tag %}
                      <option value="">{{ 'collections.filters.all_tags' | t }}</option>
                    {% else %}
                      <option value="">{{ 'collections.filters.title_tags' | t }}</option>
                    {% endif %}
                  {% endif %}
                  {% for tag in collection.all_tags %}
                    <option value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}"{% if current_tags contains tag %} selected="selected"{% endif %}>{{ tag }}</option>
                  {% endfor %}
                </select>
              </div>
            {% endif %}

            <div class="filters-toolbar__item filters-toolbar__item--count">
              <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
            </div>

            {% if section.settings.sort_enable %}
              <div class="filters-toolbar__item text-right">
                {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                <label for="SortBy" class="label--hidden">{{ 'collections.sorting.title' | t }}</label>
                <select name="SortBy" id="SortBy" class="filters-toolbar__input filters-toolbar__input--sort hidden">
                  {% if sort_by == collection.default_sort_by %}
                    <option value="title-ascending" selected="selected">{{ 'collections.sorting.title' | t }}</option>
                    {% if collection.default_sort_by != 'manual' %}
                      <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
                    {% endif %}
                    {% if collection.default_sort_by != 'best-selling' %}
                      <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
                    {% endif %}
                    {% if collection.default_sort_by != 'title-ascending' %}
                      <option value="title-ascending"{% if sort_by == "title-ascending"  %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
                    {% endif %}
                    {% if collection.default_sort_by != 'title-descending' %}
                      <option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
                    {% endif %}
                    {% if collection.default_sort_by != 'price-ascending' %}
                      <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
                    {% endif %}
                    {% if collection.default_sort_by != 'price-descending' %}
                      <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
                    {% endif %}
                    {% if collection.default_sort_by != 'created-descending' %}
                      <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
                    {% endif %}
                    {% if collection.default_sort_by != 'created-ascending' %}
                      <option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
                    {% endif %}
                  {% else %}
                    <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
                    <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
                    <option value="title-ascending"{% if sort_by == "title-ascending"  %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
                    <option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
                    <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
                    <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
                    <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
                    <option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
                  {% endif %}
                </select>
                <input class="collection-header__default-sort" type="hidden" value="{{ collection.default_sort_by }}">
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  </header>

  <div class="page-width padding-bottom-xl m-padding-top-none m-padding-bottom-xl" id="Collection">
    {% if section.settings.layout == 'grid' %}
      {% case section.settings.grid %}
      {% when '2' %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
      {% when '3' %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
      {% when '3.1' %}
        {%- assign grid_item_width = 'small--one-whole medium-up--one-third' -%}
      {% when '4' %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
      {% when '5' %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
      {% endcase %}

      <div class="grid grid--uniform grid--half-gutters {% if collection.products_count > 0 %} grid--view-items{% endif %}">
        {% for product in collection.products %}
          {% include 'product-card-grid', max_height: max_height %}
        {% else %}
          {% comment %}
          Add default products to help with onboarding for collections/all only.

          The onboarding styles and products are only loaded if the
          store has no products.
          {% endcomment %}
          {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
            <div class="grid__item">
              <div class="grid grid--uniform">
                {% for i in (1..limit) %}
                  <div class="grid__item {{ grid_item_width }}">
                    <div class="grid-view-item">
                      <a href="#" class="grid-view-item__link">
                        <div class="grid-view-item__image">
                          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                        <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                        <div class="grid-view-item__meta">
                          <span class="product-price__price">$19.99</span>
                        </div>
                      </a>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% else %}
            {%- assign is_empty_collection = true -%}
          {% endif %}
        {% endfor %}
      </div>
    {% else %}
      <div class="list-view-items">
        {% for product in collection.products %}
          <a href="{{ product.url | within: collection }}" class="list-view-item">
            {% include 'product-card-list', product: product %}
          </a>
        {% else %}

          {% comment %}
          Add default products to help with onboarding for collections/all only.

          The onboarding styles and products are only loaded if the
          store has no products.
          {% endcomment %}
          {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0%}
            {% for i in (1..4) %}
              <a href="#" class="list-view-item">
                <div class="list-view-item__image-column">
                  <div class="list-view-item__image-wrapper">
                    <div class="list-view-item__image">
                      {%- assign placeholder = 'placeholder-product-' | append: i -%}
                      {% include placeholder %}
                    </div>
                  </div>
                </div>

                <div class="list-view-item__title-column">
                  <div class="list-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                </div>

                <div class="list-view-item__price-column">
                  <span class="product-price__price">$19.99</span>
                </div>
              </a>
            {% endfor %}
          {% else %}
            {%- assign is_empty_collection = true -%}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% if is_empty_collection %}
      <div class="grid__item small--text-center">
        <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% endif %}

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  </div>

  <div class="c-page-width-narrow padding-bottom-l m-padding-top-s m-padding-bottom-m">
    <h3 class="c-header-l padding-bottom-s m-padding-bottom-xs c-custom-header">Choosing Guide: The Moissanite Halo Ring</h3>
    
    <p>Looking for a ring to signify the next step in your relationship? Congratulations! An engagement or wedding ring is a valued representation of love and commitment between a couple. But while that may be more meaningful than its appearance, we believe that every wearer should be just as in love with their ring as their partner.</p>
    <p>Choosing from all the varieties of rings available can be overwhelming. However, a simple way to start is by focusing on the styles you prefer. Halo is a timeless ring style, and you might just find your forever ring among our beautiful moissanite halo ring options. But first, you might want to know more about this glamorous design. Let’s begin!</p>
    
    <h4 class="c-header-m padding-bottom-s m-padding-bottom-xs c-custom-header">What Makes a Ring “Halo Style”?</h4>
    <p>As the name suggests, a halo ring setting is one that features a larger center gemstone encircled by smaller accent gemstones. These smaller gems add emphasis to the larger rock and can be similar or different in kind or color. A moissanite halo ring is a glamorous feature on every hand because of the dazzle given by the brilliant stones.</p>
    <p>The halo is a great way to jazz up almost any gemstone cut. What’s more, it gives the illusion of a bigger center stone, which is great for those who like a little extra sparkle but are not looking to break the bank.</p>
      
    <div class="custom-about-content">
      <div>
        <a href="#" class="js-dropdown-content-link">
          <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
          <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
          <h4 class="c-header-m padding-bottom-s">How to Choose Your Halo Ring</h4>
        </a>
        <div class="js-dropdown-content about-content hidden">
          <p>Looking for a moissanite halo engagement ring or even a wedding ring? Here’s how to avoid the nerve-wracking experience of choosing between the endless ring styles out there.</p>
          
          <h5 class="c-header-m">1. Choose the Band</h5>
          <p>The band of the ring is always the lowest hanging fruit when it comes to deciding on what you want. Keep in mind, though, it might not be the star of the show but is still essential to the overall design. It can either enhance or diminish the beauty of your halo setting.</p>
          <p>Choose the color you would like for your ring metal—typically gold, rose gold or silver, and whether you would like any gemstones on your band. These can be a short chain or go all the way around it.</p>
          
          <h5 class="c-header-m">2. Choose the Style</h5>
          <p>There are many styles available for moissanite halo engagement rings. It all depends on what appeals to you.</p>
          <p>What’s more, this style allows for many different variations including:</p>
          <ul>  
            <li><a class="classic-link c-display-inline" href="https://gemaandco.com/collections/halo/products/the-round-halo-pave-2?variant=54810759509">Floating/Round Halo Ring</a> - This style has a larger gem that almost appears to be floating among the smaller moissanite stones like a water lily leaf.</li>
            <li><a class="classic-link c-display-inline" href="https://gemaandco.com/collections/halo/products/the-pear-halo-pave?variant=29668341940268">Pear-Shaped</a> - A pear-shaped style adds more glimmer to an already-glamorous style.</li>
            <li><a class="classic-link c-display-inline" href="https://gemaandco.com/collections/halo/products/the-cushion-halo-pave-2?variant=54814437653">Cushion</a> - One of the most popular styles, a moissanite cushion cut halo ring is favored for its regal, classic appearance.</li>
            <li><a class="classic-link c-display-inline" href="https://gemaandco.com/collections/halo/products/the-princess-halo-pave?variant=29634687860780">Princess</a> - Moissanite halo stones take this favorite cut to the next level in sparkle and femininity.</li>
            <li><a class="classic-link c-display-inline" href="https://gemaandco.com/collections/halo/products/the-oval-halo-3?variant=54812682453">Oval</a> - Oval stones will never go out of style. However, adding a halo around the main gem gives the ring a contemporary look that’s still elegant.</li>
          </ul>
          <p>Halo styles come in uncountable variations. You can <a class="classic-link c-display-inline" href="https://gemaandco.com/pages/bespoke">design your own moissanite engagement ring</a> with our custom bespoke options.</p>
        </div>
      </div>
      <div>
        <a href="#" class="js-dropdown-content-link">
          <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
          <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
          <h4 class="c-header-m padding-bottom-s">The Benefits of Moissanite for Your Halo Ring</h4>
        </a>
        <div class="js-dropdown-content about-content hidden">
          <p>Did you know that moissanite is the world’s most brilliant gemstone? It’s true! It shines even brighter than diamond, so imagine how glamorous the stones look in a halo setting. On the Brilliance Refractive Index (RI), moissanite ranges from 2.65 to 2.69, higher than diamond’s 2.42 RI. Fire-wise, moissanite measures at a dispersion of 0.104 which is 2.4 times the fire of a diamond and four times greater than other popular gemstones including ruby, sapphire, and emerald.</p>
          <p>On top of brilliance, it is also known to be extremely durable. In fact, the ceramic version of synthetic moissanite is commonly used to cut and slice other materials. This hardness makes it more scratch-resistant than most gemstones, not to mention its incredible melting point of 2730°C.</p>
          <p>Physical qualities aside, we believe what gives this indestructible gem its significance as a wedding and engagement ring stone is the story behind it. Moissanite is a socially, and environmentally responsible choice: Most moissanite today is grown in a lab, eliminating the usually conflicted mining process of many gems. A moissanite wearer is a compassionate person who customizes tradition to agree with both their pocket, style, and conscience.</p>
        </div>
      </div>
      <div>
        <a href="#" class="js-dropdown-content-link">
          <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
          <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
          <h4 class="c-header-m padding-bottom-s">Why Gema&Co?</h4>
        </a>
        <div class="js-dropdown-content about-content hidden">
          <p>If you’re looking to celebrate love in a way that is purposeful and has meaning to you, Gema&Co is here to support that. We believe celebrating love should be done in a way that is unique. That’s why we design <a class="classic-link c-display-inline" href="https://gemaandco.com/">moissanite jewelry</a> that embodies this mission.</p>
          <p>Our moissanite halo rings are made with the highest quality stones, which are either developed in our premier lab or curated from the Forever One moissanite stones at Charles & Colvard—the best moissanite company in the world.</p>
          <p>We want to make celebrating love and marriage less commercialized and more accessible, designing stones that offer a new outlook on old traditions and using stones that are hand-cut by professional jewelers.</p>
          <p>If you’re looking to buy <a class="classic-link c-display-inline" href="https://gemaandco.com/collections/engagement-rings">moissanite engagement rings</a> of the highest quality, you can be 100% confident in our products. Contact us to learn more, or if you need any help choosing your next forever piece.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  GemaDropdowns.initialize('js-dropdown-content-link');
</script>

{% endpaginate %}

{% schema %}
  {
    "name": "Collection halo",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "grid",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "list",
            "label": "List"
          }
        ]
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Products per row (grid only)",
        "default": "4",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      },
      {
        "type": "select",
        "id": "rows",
        "label": "Rows per page (grid only)",
        "default": "2",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "7",
            "label": "7"
          },
          {
            "value": "8",
            "label": "8"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sort_enable",
        "label": "Enable sorting",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "tags_enable",
        "label": "Enable tag filtering",
        "default": true
      }
    ]
  }
{% endschema %}
