{% if section.settings.message %}
  <style>
    .notification-bar {
      background-color: {{ section.settings.color_bg }};
    }

    .notification-bar__message {
      color: {{ section.settings.color_text }};
    }

/*     {% if section.settings.logo != blank %}
      .site-header__logo-image {
        max-width: {{ section.settings.logo_max_width | escape }}px;
      }
    {% endif %} */

    {% if section.settings.align_logo == 'left' %}
      .site-header__logo-image {
        margin: 0;
      }
    {% endif %}
  </style>
{% endif %}

{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
%}
  {%- assign social_icons = true -%}
{% endif %}

<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <header class="site-header{% if section.settings.align_logo == 'left' %} border-bottom logo--left{% else %} logo--center{% endif %}" role="banner">
    {% include 'mobile-nav' %}
    {% if section.settings.message %}
      {% if section.settings.home_page_only == false or template.name == 'index' %}
        <style>
          .announcement-bar {
            background-color: {{ section.settings.color_bg }};
          }

          .announcement-bar--link:hover {
            {% assign brightness = section.settings.color_bg | color_brightness %}

            {% if brightness <= 192 %}
              {% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
              background-color: {{ section.settings.color_bg | color_lighten: lightenAmount }};
            {% else %}
              {% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
              background-color: {{ section.settings.color_bg | color_darken: darkenAmount }};
            {% endif %}
          }

          .announcement-bar__message {
            color: {{ section.settings.color_text }};
          }
        </style>

        {% if section.settings.message_link == blank %}
          <div class="announcement-bar">
        {% else %}
          <a href="{{ section.settings.message_link }}" class="announcement-bar announcement-bar--link">
        {% endif %}

          <p class="announcement-bar__message">{{ section.settings.message_text | escape }}</p>

        {% if section.settings.message_link == blank %}
          </div>
        {% else %}
          </a>
        {% endif %}

      {% endif %}
    {% endif %}
    <div class="c-site-header-padding page-width">
      <div class="grid grid--no-gutters grid--table">
        {% if section.settings.align_logo == 'center' %}
          <div class="grid__item small--hide medium-up--one-quarter">
            <div class="site-header__search">
              {% include 'search-form' %}
            </div>
          </div>
        {% endif %}

        {% if section.settings.align_logo == 'center' %}
          {%- assign logo_classes = 'medium--one-third large-up--one-quarter logo-align--center' -%}
        {% else %}
          {%- assign logo_classes = 'medium-up--one-quarter logo-align--left' -%}
        {% endif %}
        <div class="grid__item small--one-half medium-up--hide">
          {% unless linklists[section.settings.main_linklist] == blank %}
            <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
              {% include 'icon-hamburger2' %}
              {% include 'icon-close2' %}
              <span class="icon__fallback-text">{{ 'layout.navigation.toggle' | t }}</span>
            </button>
          {% endunless %}
        </div>
        <div class="grid__item small--one-half">
          {% comment %}
            Use the uploaded logo from theme settings if enabled.
            Site name gets precedence with H2 tag on homepage, div on other pages.
          {% endcomment %}
          {% if template.name == 'index' %}
            <h2 class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
          {% else %}
            <div class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
          {% endif %}
            {% if section.settings.logo %}
              {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <a href="/" itemprop="url" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}">
                {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
                <img class="lazyload js c-logo-width"
                     src="{{ section.settings.logo | img_url: '300x300' }}"
                     data-src="{{ img_url }}"
                     data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                     data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                     data-sizes="auto"
                     alt="{{ logo_alt | escape }}">
                <noscript>
                  {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                  <img src="{{ section.settings.logo | img_url: image_size }}"
                       srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                       alt="{{ section.settings.logo.alt | default: shop.name }}"
                       itemprop="logo"
                       style="max-width: {{ section.settings.logo_max_width }}px;">
                </noscript>
              </a>
            {% else %}
              <a class="site-header__logo-link" href="/" itemprop="url">{{ shop.name }}</a>
            {% endif %}
          {% if template.name == 'index' %}
            </h2>
          {% else %}
            </div>
          {% endif %}
        </div>

        <div class="grid__item small--one-half medium-up--one-half site-header__icons{% if shop.customer_accounts_enabled %} site-header__icons--plus{% endif %}">
          <div class="site-header__icons-wrapper c-column-flex-container site-nav__font">
            {% if section.settings.align_logo == 'left' %}
              <div class="site-header__search c-column-flex-4 small--hide align--top-right">
<!--                 {% include 'search-form' %} -->
              </div>
            {% endif %}

<!--             REMOVE WHEN YOU WANT SEARCH -->
            <button type="button" class="btn--link c-column-flex-1 medium-up--hide align--top-right">
<!--             <button type="button" class="btn--link site-header__search-toggle js-drawer-open-top c-column-flex-1 medium-up--hide align--top-right"> -->
<!--               {% include 'icon-search' %}
              <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span> -->
            </button>
            
            {% if shop.customer_accounts_enabled %}
              {% if customer %}
                <a href="/account" class="site-header__account c-column-flex-2 c-column-flex-container c-flex-align-right">
                  <span class="site-header__account-text">{{ 'layout.customer.account' | t }}</span>
                </a>
              {% else %}
                <a href="/account/login" class="site-header__account c-column-flex-2 c-column-flex-container c-flex-align-right">
                  <span class="site-header__account-text">{{ 'layout.customer.log_in' | t }}</span>
                </a>
              {% endif %}
            {% endif %}

            <a href="/cart" class="site-header__cart c-column-flex-1 c-column-flex-container c-flex-align-right">
              {% include 'icon-cart3' %}
<!--               <div class="site-nav__link--main" {% if template != 'index' %}style="color: #808284"{% endif %}>Cart</div> -->
              <span class="visually-hidden">{{ 'layout.cart.title' | t }}</span>
              <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
              {% if cart.item_count > 0 %}
                <div id="CartCount" class="site-header__cart-count">
                  <span>{{ cart.item_count }}</span>
                  <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
                </div>
              {% endif %}
            </a>
          </div>
        </div>
      </div>
      <div>
        <nav id="AccessibleNav" role="navigation">
          {% include 'site-nav' %}
        </nav>
      </div>
    </div>
  </header>
</div>

<script defer="defer">
  GemaDropdowns.initialize('js-mobile-nav-dropdown')
</script>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "radio",
        "id": "align_logo",
        "label": "Logo alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"}
        ]
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Bar",
        "default": "#7796a8"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#fff"
      }
    ]
  }
{% endschema %}
