<div class="product-template c-bg-light-gray" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}

  {% case section.settings.image_size %}
    {% when 'small' %}
      {%- assign product_image_width = 'medium-up--one-third' -%}
      {%- assign product_description_width = 'medium-up--two-thirds' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-third' -%}
      {%- assign height = 345 -%}
    {% when 'medium' %}
      {%- assign product_image_width = 'medium-up--one-half' -%}
      {%- assign product_description_width = 'medium-up--one-half' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-quarter' -%}
      {%- assign height = 530 -%}
    {% when 'large' %}
      {%- assign product_image_width = 'medium-up--two-thirds' -%}
      {%- assign product_description_width = 'medium-up--one-third' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-fifth' -%}
      {%- assign height = 720 -%}
    {% when 'full' %}
      {%- assign product_image_width = '' -%}
      {%- assign product_description_width = '' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-eighth' -%}
      {%- assign height = 1090 -%}
      {%- assign enable_zoom = false -%}
  {% endcase %}

  <div class="grid product-single">
    <div id='js-hidden-product-images' class="visibility-hidden grid__item product-single__photos {{ product_image_width }}{% if section.settings.image_size == 'full' %} product-single__photos--full{% endif %} c-product-template-mobile c-product-photos-desktop">
      {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
      {% for image in product.images %}
        {% capture img_id %}FeaturedImage-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_class %}product-featured-img{% endcapture %}
        {% capture zoom_img_id %}FeaturedImageZoom-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_wrapper_id %}{{ zoom_img_id }}-wrapper{% endcapture %}
        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

        {% include 'image-style' with small_style: true, width: height, height: height, wrapper_id: img_wrapper_id, img_id: img_id %}

        <div id="{{ img_wrapper_id }}" class="product-single__photo-wrapper js">
          <div id="{{ zoom_img_id }}" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;" class="product-single__photo{% if enable_zoom %} js-zoom-enabled{% endif %}{% if product.images.size > 1 %} product-single__photo--has-thumbnails{% endif %}{% unless featured_image == image %} hide{% endunless %}" data-image-id="{{ image.id }}" data-image-alt="{{ image.alt }}" {% if enable_zoom %} data-zoom="{{ image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
            <img id="{{ img_id }}"
                 class="feature-row__image {{ img_class }} lazyload{% unless featured_image == image %} lazypreload{% endunless %}"
                 src="{{ image | img_url: '300x300' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ image.alt | escape }}">
          </div>
        </div>
      {% endfor %}

      <noscript>
        {% capture product_image_size %}{{ height }}x{% endcapture %}
        <img src="{{ featured_image | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_image.alt }}" id="FeaturedImage-{{ section.id }}" class="product-featured-img" style="max-width: {{ height }}px;">
      </noscript>

      {% if product.images.size > 1 %}
        {% if product.images.size > 3 %}
          {%- assign enable_thumbnail_slides = false -%}
        {% endif %}

        <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %}">
          {% if enable_thumbnail_slides == true %}
            <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}">
              {% include 'icon-chevron-left' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.previous_slide' | t }}</span>
            </button>
          {% endif %}
          <ul class="grid grid--uniform product-single__thumbnails product-single__thumbnails-{{ section.id }}">
            {% for image in product.images %}
              <li class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js">
                <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
                   class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                   data-thumbnail-id="{{ image.id }}"
                   data-image-alt="{{ image.alt }}"
                   {% if enable_zoom %}data-zoom="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
                     <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '110x110', scale: 2 }}" alt="{{ image.alt | escape }}">
                </a>
              </li>
            {% endfor %}
          </ul>
          {% if enable_thumbnail_slides == true %}
            <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}">
              {% include 'icon-chevron-right' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
            </button>
          {% endif %}
        </div>
      {% endif %}
    </div>

    <div class="grid__item {{ product_description_width }} c-bg-white padding-top-m padding-left-l padding-right-l m-padding-top-s c-product-template-mobile c-product-description-desktop">
      <div class="product-single__meta margin-bottom-s">
        <div class="custom-product-text padding-bottom-s m-padding-bottom-s">
          <h1 itemprop="name" class="product-single__title custom-product-header">{{ product.title }} –</h1>
          <span class="product-price__price product-price__price-{{ section.id }}">
            <span id="ProductPrice-{{ section.id }}" class="custom-product-price"
              itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
              {{ current_variant.price | money | remove: '.00' }}
            </span>
            <span class="product-price__sale-label product-price__sale-label-{{ section.id }} hide">{{ 'products.product.on_sale' | t }}</span>
          </span>

          {% if section.settings.show_vendor %}
            <p itemprop="brand" class="product-single__vendor">{{ product.vendor }}</p>
          {% endif %}

<!--           <h4 id="header-compareable-price" class="custom-product-secondary-header{% if current_variant.metafields.custom_text.compareable_price == blank or current_variant.metafields.custom_text.compareable_price == "" %} visibility-hidden{% endif %}">Diamond Equivalent Price: <span id="variant-compareable-price">{{ current_variant.metafields.custom_text.compareable_price }}</span></h4> -->
        </div>
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form custom-product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" data-section="{{ section.id }}">
            {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
              {% for option in product.options_with_values %}
                {% assign optionName = option.name | downcase %}
                {% if optionName == 'metal' %}
                  <div>
                    <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="metal-swatch">
                      {{ option.name }}
                      <span id="swatchSpan-{{ section.id }}"></span>
                    </label>
                    {% assign optionIndex = forloop.index %}
                    <div class="metal-swatch-radio-inputs margin-bottom-s single-option-selector-{{ section.id }}" id="SingleOptionSelector-{{ forloop.index0 }}">
                      <ul>
                        {% for value in option.values %}
                          <li>
                            <label>
                              <input type="radio" name="metal-swatch" value="{{ value | escape }}"{% if option.selected_value == value %}checked="checked"{% endif %} data-index="option{{ optionIndex }}">
                              <span class="swatch color-{{ value | handleize }}"></span>
                            </label>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                {% else %}
                  <div class="selector-wrapper js product-form__item margin-bottom-s">
                    <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input custom-product-select" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                      {% for value in option.values %}
                        <option class="custom-product-select__option" value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                {% endif %}
              {% endfor %}
            {% endunless %}

            <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}" data-compareable-price={{variant.metafields.custom_text.compareable_price}}>
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            </select>
            
            {% if product.tags contains 'ring' %} {% include 'ring-size-select' %} {% endif %}

            {% if section.settings.show_quantity_selector %}
              <div class="product-form__item product-form__item--quantity">
                <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
              </div>
            {% endif %}
            
            <div class="product-form__item product-form__item--submit custom-product-form-item custom-product-form-item__margin">
              <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %}">
                <span id="AddToCartText-{{ section.id }}">
                  {% unless current_variant.available %}
                    {{ 'products.product.sold_out' | t }}
                  {% else %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% endunless %}
                </span>
              </button>
<!--               <p class="custom-finance">Monthly Financing available with Affirm at checkout</p> -->
            </div>
          </form>

        </div>

        <div class="product-single__description rte" itemprop="description">         	
          <label>Description</label>
          <div class="padding-top-xs">  
            {% if product.tags contains 'loose stone' %}
              {% include 'loose-stone-description' %}
            {% else %}
              {{ product.description }}
            {% endif %}
          </div>
        </div>

        {% if section.settings.show_share_buttons %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}
      </div>
    </div>
  </div>
  
<!--     <div class="yotpo yotpo-main-widget"
      data-product-id="{{ product.id }}"
      data-name="{{ product.title | escape }}"
      data-url="{{ shop.url }}{{ product.url }}"
      data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
      data-description="{{ product.description | escape }}">
    </div> -->
</div>

<div class="c-hero__m-stacked-text">
  <div class="hero hero-width c-landing-6">
  </div>
  <div class="m-stacked-text__container">
    <div class="m-stacked-text__left c-details">
      <div class="m-padding-top-m">
        <h2 class="c-header-l">It's All In The Details</h2>
        <div class="c-details-select__tabs">
          <div class="c-details-select__tablink js-tablink active" data-index=0><label>Gem Specs</label></div>
          <div class="c-details-select__tablink js-tablink" data-index=1><label>Metal Specs</label></div>
        </div>
        <div>
          <div class="js-tab-content active">
            <div class="c-details-section">
              <div class="c-details-row">
                <span class="c-details-row__left">Color:</span><span class="c-details-row__right">D E F</span>
              </div>
              <div class="c-details-row">
                <span class="c-details-row__left">Clarity:</span><span class="c-details-row__right">VVS1</span>
              </div>
              <div class="c-details-row">
                <span class="c-details-row__left">Cut:</span><span class="c-details-row__right">Ideal</span>
              </div>
              <div class="c-details-row">
                <span class="c-details-row__left">Refractive Index:</span><span class="c-details-row__right">2.65</span>
              </div>
              <div class="c-details-row">
                <span class="c-details-row__left">Dispersion:</span><span class="c-details-row__right">Very High</span>
              </div>
              <div class="c-details-row">
                <span class="c-details-row__left">MOH Hardness:</span><span class="c-details-row__right">9.5/10</span>
              </div>
            </div>
          </div>
          <div class="js-tab-content hidden">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="page-width padding-top-l padding-bottom-l m-padding-top-s m-padding-bottom-m">
  <div class="c-column-flex-container c-mobile-flex-column">
    <div class="c-column-flex-2">
      <img class="js-tab-image active image-resize-m" src="https://cdn.shopify.com/s/files/1/2109/1565/files/round_gem.jpg?11794514832757302909"/>
      <img class="js-tab-image hidden" src="https://cdn.shopify.com/s/files/1/2109/1565/files/plain-yg-front.jpg?12684522907274473923"/>
      <img class="js-tab-image hidden" src="https://cdn.shopify.com/s/files/1/2109/1565/files/plain-rg-front.jpg?12684522907274473923"/>
      <img class="js-tab-image hidden" src="https://cdn.shopify.com/s/files/1/2109/1565/files/plain-wg-front.jpg?12684522907274473923"/>
    </div>
    <div class="c-column-flex-2 padding-left-l m-padding-left-none">
      <h2 class="c-header-l text-center">It's In The Details</h2>
      <div class="c-metal-select__tabs padding-top-m padding-bottom-m m-padding-top-s m-padding-bottom-s">
        <div class="c-metal-select__tablink js-tablink active" data-index=0><label>Gem Specs</label></div>
        <div class="c-metal-select__tablink js-tablink" data-index=1><label>Metal Specs</label></div>
        <div class="c-metal-select__tablink js-tablink" data-index=2><label>14K Rose Gold</label></div>
        <div class="c-metal-select__tablink js-tablink" data-index=3><label>Platinum</label></div>
      </div>
      <div class="c-metal-select__dropdown-wrapper">
        <select class="custom-product-select js-select">
          <option data-index=0>Gem Specs</option>
          <option data-index=1>Metal Specs</option>
          <option data-index=2>14K Rose Gold</option>
          <option data-index=3>Platinum</option>
        </select>
      </div>
      <div class="c-metal-select__tabs-content js-tab-content active">
        <label>Material</label>
        <ul class="c-ul-decoration padding-top-xs padding-bottom-s">
          <li class="margin-none"><label>Color</label>D-E-F Range</li>
          <hr>
          <li class="margin-none"><label>Color</label>D-E-F Range</li>
          <hr>
          <li class="margin-none"><label>Color</label>D-E-F Range</li>
          <hr>
          <li class="margin-none"><label>Color</label>D-E-F Range</li>
          <hr>
          <li class="margin-none"><label>Color</label>D-E-F Range</li>
          <hr>
        </ul>
      </div>
      <div class="c-metal-select__tabs-content js-tab-content hidden">
        <label>Material</label>
        <ul class="c-ul-decoration padding-top-xs padding-bottom-s">
          <li class="margin-none">Yellow Gold: A blend of 59% natural yellow gold and 41% fine whitening 
            alloys. The most ideal blend to produce a durable metal for everyday wear.</li>
          <li>Rose Gold: A blend of 58% natural yellow gold, 41% copper 
            alloys, and 5% silver. The most balanced blend to produce a perfect blush-rosey hue.</li>
        </ul>
      </div>
      <div class="c-metal-select__tabs-content js-tab-content hidden">
        <label>Material</label>
        <ul class="c-ul-decoration padding-top-xs padding-bottom-s">
          <li class="margin-none">A blend of 59% natural yellow gold, 41% copper 
            alloys, and 5% silver. The most ideal blend to produce a rose blush hue.</li>
        </ul>
      </div>
      <div class="c-metal-select__tabs-content js-tab-content hidden">
        <label>Material</label>
        <ul class="c-ul-decoration padding-top-xs padding-bottom-s">
          <li class="margin-none">A blend of 59% natural yellow gold, 41% copper 
            alloys, and 5% silver. The most ideal blend to produce a rose blush hue.</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="page-width c-section-center padding-top-xl padding-bottom-xl m-padding-top-l m-padding-bottom-l">
  <h3 class="c-header-l text-center">When It's Quality, You Can See It&mdash;It's That Simple.</h3>
  <p class="padding-top-s text-light text-center">
    Our gems are created with only the features people care about.
  </p>
  <div class="align--top-middle">
    <img class="image-resize-s padding-top-m m-padding-top-m" src="https://cdn.shopify.com/s/files/1/2109/1565/files/round_gem.jpg?1343363835355178047" alt="Moissanite Top">
  </div>
  <div class="padding-top-l m-padding-top-s">
    <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-third m-padding-top-s">
      <label>COLOR</label>
      <p>Our Moissanites are an icy-white color without grey or yellow hues. Zero cloudiness and will never change color.</p>
    </div>
    <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-third m-padding-top-s">
      <label>CLARITY</label>
      <p>Minimal inclusions results in a crystal clear appearance. The gem's structural bond will not absorb micro-particles from the environment.</p>
    </div>
    <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-third m-padding-top-s">
      <label>CUT</label>
      <p>Cut to ideal proportions for maximum light refraction resulting in brilliant sparkle and shine.</p>
    </div>
  </div>
</div> -->

<div class="page-width c-section-center padding-top-xl padding-bottom-xl m-padding-top-m m-padding-bottom-l">
  <h3 class="c-header-l text-center">We Could Charge $8,000, But We Chose Not To.</h3>
  <p class="padding-top-s text-light text-center">
    We believe price is not reflective of quality. We just don't feel it is fair to charge more than we need.</p>
  <p class="padding-top-s text-light text-center">
    Prices are sample, non-sale examples based on a review of round gemstones on Brilliant Earth, Blue Nile and Harry Winston's websites as of 11/22/2017.</p>
</div>

<div class="c-engagement-container">
  <div class="page-width c-section-center padding-top-xl padding-bottom-xl m-padding-top-l m-padding-bottom-l">
    <h3 class="c-header-l text-center">We Bet You Will Love Your Engagement Ring</h3>
    <p class="padding-top-m text-light text-center c-page-width-m">
      We can’t guarantee you’ll love it, but we can bet with 97% certainty 
      you will. 97 out of 100 people keep their engagement ring.
    </p>
    <div class="align--top-middle">
      <img class="image-resize-m padding-top-m" src="https://cdn.shopify.com/s/files/1/2109/1565/files/navy_percentage.png?13105233165038385277" alt="Percentage">
    </div>
    <div class="c-page-width-m">
      <p class="padding-top-m m-padding-top-s">Five years ago, our founder was stuck with no practical options for engagement rings. 
        Since then, we have set out to take care of every customer whether 
        they love our jewelry or not.</p>
      <p>We’ve simplified the return process as much as possible. 
        We hope you’ll love our jewelry, but if you don’t, simply 
        let us know, and you'll get a full refund.</p>
    </div>
  </div>
</div>

<!-- <div class="page-width c-section-center padding-top-xl padding-bottom-xl m-padding-top-l m-padding-bottom-l">
  <h3 class="c-header-l text-center">Try Your Engagement Ring Without Risk. <u>Guaranteed</u>.</h3>
  <p class="padding-top-s text-light text-center">
    It's a big decision, and we'll make it as easy as possible for you.
  </p>
  <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-third m-padding-top-s">
    <label>30-DAY RETURNS</label>
    <p>If for whatever reason it doesn't work out, we offer a 100% refund on your purchase.</p>
  </div>
  <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-third m-padding-top-s">
    <label>LIFETIME WARRANTY</label>
    <p>Our gemstones were created to last. We back it up with an honest, life-time warranty.</p>
  </div>
  <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-third m-padding-top-s">
    <label>DELIVERED INSURED</label>
    <p>Delivered insured and straight to your door. Ring box is protected by a gift box.</p>
  </div>
</div> -->


<!-- <div class="page-width margin-bottom-m c-engagement-container">
  <div class="c-section-center c-page-width-s padding-top-m padding-bottom-m">
    <p class="c-mini-header padding-bottom-s">OUR PROMISE</p>
    <h3 class="c-header-l">Free shipping and free returns, always</h3>
    <p class="padding-top-m text-light">
      We have a 30-day, no-questions-asked return policy for all our
      jewelry as well as a one-year, no-damage guarantee for our gemstones; 
      we’ll replace your damaged gemstones for free within the first 12 months.
    </p>
  </div>
</div> -->

<!-- {% if collection %}
  <div class="text-center return-link-wrapper">
    <a href="{{ collection.url }}" class="btn btn--secondary btn--has-icon-before return-link">
      {% include 'icon-arrow-left' %}
      {{ 'products.product.back_to_collection' | t: title: collection.title }}
    </a>
  </div>
{% endif %} -->



{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  <script type="text/javascript">
    window.variantCompareablePrices = {};
    {% for variant in product.variants %}
      window.variantCompareablePrices[{{variant.id}}] = "{{variant.metafields.custom_text.compareable_price}}";
    {% endfor %}
  </script>

{% endunless %}

<script src="{{ 'tabs-manager.js' | asset_url }}"></script>

<!-- <script>
  TabsManager.initialize("js-tablink", "js-tab-content", "js-tab-image", "js-select");
</script> -->

<script>
  TabsManager.initialize("js-tablink", "js-tab-content");
</script>


{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "full",
            "label": "Full-width"
          }
        ],
        "default": "medium"
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": "Show variant labels",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
