<div class="product-template c-bg-light-gray" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}

  {% case section.settings.image_size %}
    {% when 'small' %}
      {%- assign product_image_width = 'medium-up--one-third' -%}
      {%- assign product_description_width = 'medium-up--two-thirds' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-third' -%}
      {%- assign height = 345 -%}
    {% when 'medium' %}
      {%- assign product_image_width = 'medium-up--one-half' -%}
      {%- assign product_description_width = 'medium-up--one-half' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-quarter' -%}
      {%- assign height = 530 -%}
    {% when 'large' %}
      {%- assign product_image_width = 'medium-up--two-thirds' -%}
      {%- assign product_description_width = 'medium-up--one-third' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-fifth' -%}
      {%- assign height = 720 -%}
    {% when 'full' %}
      {%- assign product_image_width = '' -%}
      {%- assign product_description_width = '' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-eighth' -%}
      {%- assign height = 1090 -%}
      {%- assign enable_zoom = false -%}
  {% endcase %}

  <div class="grid product-single">
    <div id='js-hidden-product-images' class="visibility-hidden grid__item product-single__photos {{ product_image_width }}{% if section.settings.image_size == 'full' %} product-single__photos--full{% endif %} c-product-template-mobile c-product-photos-desktop">
      {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
      {% for image in product.images %}
        {% capture img_id %}FeaturedImage-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_class %}product-featured-img{% endcapture %}
        {% capture zoom_img_id %}FeaturedImageZoom-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_wrapper_id %}{{ zoom_img_id }}-wrapper{% endcapture %}
        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

        {% include 'image-style' with small_style: true, width: height, height: height, wrapper_id: img_wrapper_id, img_id: img_id %}

        <div id="{{ img_wrapper_id }}" class="product-single__photo-wrapper js">
          <div id="{{ zoom_img_id }}" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;" class="product-single__photo{% if enable_zoom %} js-zoom-enabled{% endif %}{% if product.images.size > 1 %} product-single__photo--has-thumbnails{% endif %}{% unless featured_image == image %} hide{% endunless %}" data-image-id="{{ image.id }}" data-image-alt="{{ image.alt }}" {% if enable_zoom %} data-zoom="{{ image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
            <img id="{{ img_id }}"
                 class="feature-row__image {{ img_class }} lazyload{% unless featured_image == image %} lazypreload{% endunless %}"
                 src="{{ image | img_url: '300x300' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ image.alt | escape }}">
          </div>
        </div>
      {% endfor %}

      <noscript>
        {% capture product_image_size %}{{ height }}x{% endcapture %}
        <img src="{{ featured_image | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_image.alt }}" id="FeaturedImage-{{ section.id }}" class="product-featured-img" style="max-width: {{ height }}px;">
      </noscript>

      {% if product.images.size > 1 %}
        {% if product.images.size > 3 %}
          {%- assign enable_thumbnail_slides = false -%}
        {% endif %}

        <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %}">
          {% if enable_thumbnail_slides == true %}
            <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}">
              {% include 'icon-chevron-left' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.previous_slide' | t }}</span>
            </button>
          {% endif %}
          <ul class="grid grid--uniform product-single__thumbnails grid--half-gutters product-single__thumbnails-{{ section.id }}">
            {% for image in product.images %}
              <li class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js">
                <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
                   class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                   data-thumbnail-id="{{ image.id }}"
                   data-image-alt="{{ image.alt }}"
                   {% if enable_zoom %}data-zoom="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
                     <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '110x110', scale: 2 }}" alt="{{ image.alt | escape }}">
                </a>
              </li>
            {% endfor %}
          </ul>
          {% if enable_thumbnail_slides == true %}
            <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}">
              {% include 'icon-chevron-right' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
            </button>
          {% endif %}
        </div>
      {% endif %}
    </div>

    <div class="grid__item {{ product_description_width }} c-bg-white padding-top-m padding-left-xl padding-right-xl m-padding-top-s c-product-template-mobile c-product-description-desktop">
      <div class="product-single__meta margin-bottom-s">
        <div class="custom-product-text padding-bottom-xs m-padding-bottom-xs">
          <h1 itemprop="name" class="product-single__title custom-product-header">{{ product.title }} –</h1>
          <span class="product-price__price product-price__price-{{ section.id }}">
            <span id="ProductPrice-{{ section.id }}" class="custom-product-price"
              itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
              {{ current_variant.price | money | remove: '.00' }}
            </span>
            <span class="product-price__sale-label product-price__sale-label-{{ section.id }} hide">{{ 'products.product.on_sale' | t }}</span>
          </span>

          {% if section.settings.show_vendor %}
            <p itemprop="brand" class="product-single__vendor">{{ product.vendor }}</p>
          {% endif %}

          <h4 id="header-compareable-price" class="custom-product-secondary-header{% if current_variant.metafields.custom_text.compareable_price == blank or current_variant.metafields.custom_text.compareable_price == "" %} hidden{% endif %}">Diamond Equivalent Price: <span id="variant-compareable-price">{{ current_variant.metafields.custom_text.compareable_price }}</span></h4>
        </div>
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form custom-product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" data-section="{{ section.id }}">
            {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
              {% for option in product.options_with_values %}
                {% assign optionName = option.name | downcase %}
                {% if optionName == 'metal' %}
                  <div class="product-form__item">
                    <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="metal-swatch">
                      {{ option.name }}
                      <span id="swatchSpan-{{ section.id }}"></span>
                    </label>
                    {% assign optionIndex = forloop.index %}
                    <div class="metal-swatch-radio-inputs margin-bottom-xs single-option-selector-{{ section.id }}" id="SingleOptionSelector-{{ forloop.index0 }}">
                      <ul>
                        {% for value in option.values %}
                          <li>
                            <label>
                              <input type="radio" name="metal-swatch" value="{{ value | escape }}"{% if option.selected_value == value %}checked="checked"{% endif %} data-index="option{{ optionIndex }}">
                              <span class="swatch color-{{ value | handleize }}"></span>
                            </label>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                {% else %}
                  <div class="selector-wrapper js product-form__item margin-bottom-s">
                    <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input custom-product-select" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                      {% for value in option.values %}
                        <option class="custom-product-select__option" value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                {% endif %}
              {% endfor %}
            {% endunless %}

            <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}" data-compareable-price={{variant.metafields.custom_text.compareable_price}}>
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            </select>
            
            {% if product.tags contains 'ring' %} {% include 'ring-size-select' %} {% endif %}

            {% if section.settings.show_quantity_selector %}
              <div class="product-form__item product-form__item--quantity">
                <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
              </div>
            {% endif %}
            
            <div class="product-form__item product-form__item--submit custom-product-form-item custom-product-form-item__margin">
              <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %}">
                <span id="AddToCartText-{{ section.id }}">
                  {% unless current_variant.available %}
                    {{ 'products.product.sold_out' | t }}
                  {% else %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% endunless %}
                </span>
              </button>
<!--               <p class="custom-finance">Monthly Financing available with Affirm at checkout</p> -->
            </div>
          </form>

        </div>

        <div class="product-single__description rte" itemprop="description">         	
          <label class="c-label">Description</label>
          <div class="padding-top-xs">  
            {% if product.tags contains 'loose stone' %}
              {% include 'loose-stone-description' %}
            {% else %}
              {{ product.description }}
            {% endif %}
          </div>
        </div>

        {% if section.settings.show_share_buttons %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}
      </div>
    </div>
  </div>
  
<!--     <div class="yotpo yotpo-main-widget"
      data-product-id="{{ product.id }}"
      data-name="{{ product.title | escape }}"
      data-url="{{ shop.url }}{{ product.url }}"
      data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
      data-description="{{ product.description | escape }}">
    </div> -->
</div>

<div class="c-hero__m-stacked-text m-padding-top-xs">
  <div class="hero hero-width c-landing-6">
  </div>
  <div class="m-stacked-text__container">
    <div class="m-stacked-text__left c-details">
      <div class="c-details-select__tabs">
        {% if product.tags contains 'wedding band'%}
          <div class="c-details-select__tablink js-tablink active" data-index=0><label class="c-label">Metal Specs</label></div>
        {% elsif product.tags contains 'loose stone'%}
          <div class="c-details-select__tablink js-tablink active" data-index=0><label class="c-label">Gem Specs</label></div>
        {% else %}
          <div class="c-details-select__tablink js-tablink active" data-index=0><label class="c-label">Gem Specs</label></div>
          <div class="c-details-select__tablink js-tablink" data-index=1><label class="c-label">Metal Specs</label></div>
        {% endif %}
      </div>
      <div>
        {% if product.tags contains 'wedding band'%}
          <div class="js-tab-content active">
            <div class="c-details-section">
              <div class="c-details-row">
                <span class="c-details-row__left">White Gold:</span><span class="c-details-row__right">60% Yellow Gold, 25% Palladium, 5% Nickel</span>
              </div>
              <div class="c-details-row">
                <span class="c-details-row__left">Yellow Gold:</span><span class="c-details-row__right">80% yellow gold, 15% Palladium, 5% Nickel</span>
              </div>
              <div class="c-details-row">
                <span class="c-details-row__left">Rose Gold:</span><span class="c-details-row__right">50% yellow gold, 25% copper, 25% Palladium</span>
              </div>
              <div class="c-details-row">
                <span class="c-details-row__left">Platinum:</span><span class="c-details-row__right">99% Platinum, 1% Nickel</span>
              </div>
            </div>
          </div>
        {% elsif product.tags contains 'loose stone'%}
          <div class="js-tab-content active">
            <div class="c-details-section">
              <div class="c-details-row">
                <span class="c-details-row__left">Color:</span><span class="c-details-row__right">D E F</span>
              </div>
              <div class="c-details-row">
                <span class="c-details-row__left">Clarity:</span><span class="c-details-row__right">VVS1</span>
              </div>
              <div class="c-details-row">
                <span class="c-details-row__left">Cut:</span><span class="c-details-row__right">Ideal</span>
              </div>
              <div class="c-details-row">
                <span class="c-details-row__left">Refractive Index:</span><span class="c-details-row__right">2.65</span>
              </div>
              <div class="c-details-row">
                <span class="c-details-row__left">Dispersion:</span><span class="c-details-row__right">Very High</span>
              </div>
              <div class="c-details-row">
                <span class="c-details-row__left">MOH Hardness Scale:</span><span class="c-details-row__right">9.5/10</span>
              </div>
            </div>
          </div>
        {% else %}
          <div class="js-tab-content active">
            <div class="c-details-section">
              <div class="c-details-row">
                <span class="c-details-row__left">Color:</span><span class="c-details-row__right">D E F</span>
              </div>
              <div class="c-details-row">
                <span class="c-details-row__left">Clarity:</span><span class="c-details-row__right">VVS1</span>
              </div>
              <div class="c-details-row">
                <span class="c-details-row__left">Cut:</span><span class="c-details-row__right">Ideal</span>
              </div>
              <div class="c-details-row">
                <span class="c-details-row__left">Refractive Index:</span><span class="c-details-row__right">2.65</span>
              </div>
              <div class="c-details-row">
                <span class="c-details-row__left">Dispersion:</span><span class="c-details-row__right">Very High</span>
              </div>
              <div class="c-details-row">
                <span class="c-details-row__left">MOH Hardness Scale:</span><span class="c-details-row__right">9.5/10</span>
              </div>
            </div>
          </div>
          <div class="js-tab-content hidden">
            <div class="c-details-section">
              <div class="c-details-row">
                <span class="c-details-row__left">White Gold:</span><span class="c-details-row__right">60% Yellow Gold, 25% Palladium, 5% Nickel</span>
              </div>
              <div class="c-details-row">
                <span class="c-details-row__left">Yellow Gold:</span><span class="c-details-row__right">80% yellow gold, 15% Palladium, 5% Nickel</span>
              </div>
              <div class="c-details-row">
                <span class="c-details-row__left">Rose Gold:</span><span class="c-details-row__right">50% yellow gold, 25% copper, 25% Palladium</span>
              </div>
              <div class="c-details-row">
                <span class="c-details-row__left">Platinum:</span><span class="c-details-row__right">99% Platinum, 1% Nickel</span>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if product.tags contains 'loose stone' or product.tags contains 'engagement ring'%}
  <div class="c-section-left c-page-width-xl">
    <div class="custom-about-content padding-top-xl m-padding-top-m">
      <h3 class="c-header-l">COLOR</h3>
      <p class="padding-top-s m-padding-top-xs">Highest, absolutely "colorless" grade for the purest, whitest hue.
        A grade of D-F will have no discernible color.</p>
      <div class="padding-top-s">
        <div class="c-color-chart c-mobile-hide">
          <div class="c-color-chart-legend text-center padding-bottom-s">
            <div class="c-column-flex-3 c-color-chart-gema">
              Gema Moissanites
            </div>
            <div class="c-column-flex-5">
            </div>
          </div>
          <div class="c-color-chart-table">
            <div class="c-column-flex-1 c-color-cell c-color-left-corner-border-top c-color-center-border-bottom">
              <div class="c-color-left-side-border-bottom"></div>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/circle.png?15185396925974111">
              <p>D</p>
            </div>
            <div class="c-column-flex-1 c-color-cell c-color-center-border-top c-color-center-border-bottom">
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/circle.png?15185396925974111">
              <p>E</p>
            </div>
            <div class="c-column-flex-1 c-color-cell c-color-right-corner-border-top c-color-center-border-bottom">
              <div class="c-color-right-side-border-bottom"></div>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/circle.png?15185396925974111">
              <p>F</p>
            </div>
            <div class="c-column-flex-1 c-color-cell c-color-center-border-bottom">
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/g.png?15185396925974111">
              <p>G</p>
            </div>
            <div class="c-column-flex-1 c-color-cell c-color-center-border-bottom">
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/h.png?15185396925974111">
              <p>H</p>
            </div>
            <div class="c-column-flex-1 c-color-cell c-color-center-border-bottom">
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/i.png?15185396925974111">
              <p>I</p>
            </div>
            <div class="c-column-flex-1 c-color-cell c-color-center-border-bottom">
              <div class="c-color-left-side-border-bottom"></div>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/j.png?15185396925974111">
              <p>J</p>
            </div>
            <div class="c-column-flex-1 c-color-cell c-color-center-border-bottom">
              <div class="c-color-right-side-border-bottom"></div>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/k.png?15185396925974111">
              <p>K</p>
            </div>
          </div>
          <div class="c-color-chart-legend padding-top-s text-center">
            <div class="c-column-flex-3">
              Colorless
            </div>
            <div class="c-column-flex-3">
              Near Colorless
            </div>
            <div class="c-column-flex-2">
              Faint
            </div>
          </div>
        </div>
        <div class="c-color-chart c-desktop-hide">
          <div class="c-color-chart-legend text-center padding-bottom-s">
            <div class="c-column-flex-1 c-color-chart-gema">
              Gema Moissanites
            </div>
            <div class="c-column-flex-1">
            </div>
            <div class="c-column-flex-1">
            </div>
          </div>
          <div class="c-color-chart-table">
            <div class="c-column-flex-1 c-color-cell c-color-left-corner-border-top c-color-center-border-bottom">
              <div class="c-color-left-side-border-bottom"></div>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/circle.png?15185396925974111">
              <p>D-F</p>
            </div>
            <div class="c-column-flex-1 c-color-cell c-color-center-border-bottom">
              <div class="c-color-left-side-border-top"></div>
              <div class="c-color-left-side-border-bottom"></div>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/i.png?15185396925974111">
              <p>G-I</p>
            </div>
            <div class="c-column-flex-1 c-color-cell c-color-center-border-bottom">
              <div class="c-color-left-side-border-bottom"></div>
              <div class="c-color-right-side-border-bottom"></div>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/k.png?15185396925974111">
              <p>J-L</p>
            </div>
          </div>
          <div class="c-color-chart-legend padding-top-s text-center">
            <div class="c-column-flex-1">
              Colorless
            </div>
            <div class="c-column-flex-1">
              Near Colorless
            </div>
            <div class="c-column-flex-1">
              Faint
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="padding-top-l">
      <h3 class="c-header-l">CLARITY</h3>
      <p class="padding-top-s">Top cut grade. Very, very slight to no inclusions. 
        Characteristics are miniscule and are difficult to see under 10x magnification.</p>
      <div class="padding-top-s">
        <div class="c-color-chart c-mobile-hide">
          <div class="c-color-chart-legend text-center padding-bottom-s">
            <div class="c-column-flex-2 c-color-chart-gema">
              Gema Moissanites
            </div>
            <div class="c-column-flex-6">
            </div>
          </div>
          <div class="c-color-chart-table">
            <div class="c-column-flex-1 c-color-cell c-color-left-corner-border-top c-color-center-border-bottom">
              <div class="c-color-left-side-border-bottom"></div>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/FL.png?12958213320461595773">
              <p>FL</p>
            </div>
            <div class="c-column-flex-1 c-color-cell c-color-right-corner-border-top c-color-center-border-bottom">
              <div class="c-color-right-side-border-bottom"></div>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/IF.png?12958213320461595773">
              <p>IF</p>
            </div>
            <div class="c-column-flex-1 c-color-cell c-color-center-border-bottom">
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/VVS1.png?12958213320461595773">
              <p>VVS1</p>
            </div>
            <div class="c-column-flex-1 c-color-cell c-color-center-border-bottom">
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/VVS2.png?12958213320461595773">
              <p>VVS2</p>
            </div>
            <div class="c-column-flex-1 c-color-cell c-color-center-border-bottom">
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/VS1.png?12958213320461595773">
              <p>VS1</p>
            </div>
            <div class="c-column-flex-1 c-color-cell c-color-center-border-bottom">
              <div class="c-color-right-side-border-bottom"></div>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/VS2.png?12958213320461595773">
              <p>VS2</p>
            </div>
            <div class="c-column-flex-1 c-color-cell c-color-center-border-bottom">
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/SI1.png?12958213320461595773">
              <p>SI1</p>
            </div>
            <div class="c-column-flex-1 c-color-cell c-color-center-border-bottom">
              <div class="c-color-right-side-border-bottom"></div>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/SI2.png?12958213320461595773">
              <p>SI2</p>
            </div>
          </div>
          <div class="c-color-chart-legend padding-top-25 text-center">
            <div class="c-column-flex-2">
              Flawless
            </div>
            <div class="c-column-flex-4">
              (Very) Very Slightly Inclusions
            </div>
            <div class="c-column-flex-2">
              Slight Inclusions
            </div>
          </div>
        </div>
        <div class="c-color-chart c-desktop-hide">
          <div class="c-color-chart-legend text-center padding-bottom-s">
            <div class="c-column-flex-1 c-color-chart-gema">
              Gema Moissanites
            </div>
            <div class="c-column-flex-1">
            </div>
            <div class="c-column-flex-1">
            </div>
          </div>
          <div class="c-color-chart-table">
            <div class="c-column-flex-1 c-color-cell c-color-left-corner-border-top c-color-center-border-bottom">
              <div class="c-color-left-side-border-bottom"></div>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/FL.png?12958213320461595773">
              <p>FL-IF</p>
            </div>
            <div class="c-column-flex-1 c-color-cell c-color-center-border-bottom">
              <div class="c-color-left-side-border-top"></div>
              <div class="c-color-left-side-border-bottom"></div>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/VS2.png?12958213320461595773">
              <p>VVS1-VS2</p>
            </div>
            <div class="c-column-flex-1 c-color-cell c-color-center-border-bottom">
              <div class="c-color-left-side-border-bottom"></div>
              <div class="c-color-right-side-border-bottom"></div>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/SI2.png?12958213320461595773">
              <p>SI1-SI2</p>
            </div>
          </div>
          <div class="c-color-chart-legend padding-top-s text-center">
            <div class="c-column-flex-1">
              Flawless
            </div>
            <div class="c-column-flex-1">
              (Very) Very Slight Inclusions
            </div>
            <div class="c-column-flex-1">
              Slight Inclusions
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="padding-top-l">
      <h3 class="c-header-l">CUT</h3>
      <p class="padding-top-s">Highest cut grade. Its proportions produce a beautiful balance of fire and sparkle and maximum light is returned out of the top of the gemstone.</p>
      <div class="padding-top-s">
        <div class="c-color-chart c-mobile-hide">
          <div class="c-color-chart-legend text-center padding-bottom-s">
            <div class="c-column-flex-2"></div>
            <div class="c-column-flex-1 c-color-chart-gema">
              Gema Moissanites
            </div>
            <div class="c-column-flex-3"></div>
          </div>
          <div class="c-color-chart-table">
            <div class="c-column-flex-1 c-color-cell">
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/very_shallow.png?4213248195509878693">
              <p>Very Shallow</p>
            </div>
            <div class="c-column-flex-1 c-color-cell">
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/shallow.png?4213248195509878693">
              <p>Shallow</p>
            </div>
            <div class="c-column-flex-1 c-color-cell c-color-center-border-top">
              <div class="c-color-right-side-border-top"></div>
              <div class="c-color-left-side-border-top"></div>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/Ideal.png?4213248195509878693">
              <p>Ideal</p>
            </div>
            <div class="c-column-flex-1 c-color-cell">
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/very_good.png?4213248195509878693">
              <p>Very Good</p>
            </div>
            <div class="c-column-flex-1 c-color-cell">
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/deep.png?4213248195509878693">
              <p>Deep</p>
            </div>
            <div class="c-column-flex-1 c-color-cell">
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/very_deep.png?4213248195509878693">
              <p>Very Deep</p>
            </div>
          </div>
        </div>
      </div>
      <div class="c-color-chart c-desktop-hide">
        <div class="c-color-chart-legend text-center padding-bottom-s">
          <div class="c-column-flex-1">
          </div>
          <div class="c-column-flex-1 c-color-chart-gema">
            Gema Moissanites
          </div>
          <div class="c-column-flex-1">
          </div>
        </div>
        <div class="c-color-chart-table">
          <div class="c-column-flex-1 c-color-cell">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/very_shallow.png?4213248195509878693">
            <p>Shallow</p>
          </div>
          <div class="c-column-flex-1 c-color-cell c-color-left-corner-border-top">
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/Ideal.png?4213248195509878693">
            <p>Ideal</p>
          </div>
          <div class="c-column-flex-1 c-color-cell">
            <div class="c-color-left-side-border-top"></div>
            <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/very_deep.png?4213248195509878693">
            <p>Deep</p>
          </div>
        </div>
      </div>
    </div>

    <div class="padding-top-l">
      <h3 class="c-header-l">CARAT</h3>
      <p class="padding-top-s">Carat is a unit measurement specifically used for Diamonds.
        Moissanites' size is referenced using millimeters or Diamond equivalent weight (i.e. 6.5mm or Diamond 
        equivalent weight of 1.00ct).
      </p>
      <div class="padding-top-s">
        <div class="c-color-chart c-mobile-hide">
          <div class="c-color-chart-table">
            <div class="c-column-flex-1 c-color-cell">
              <p>.23ct</p>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/23.png?7004022191881242067">
              <p>4mm</p>
            </div>
            <div class="c-column-flex-1 c-color-cell">
              <p>.50ct</p>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/5.png?7004022191881242067">
              <p>5mm</p>
            </div>
            <div class="c-column-flex-1 c-color-cell">
              <p>.80ct</p>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/8.png?7004022191881242067">
              <p>6mm</p>
            </div>
            <div class="c-column-flex-1 c-color-cell">
              <p>1.00ct</p>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/1.00.png?6082700097070147131">
              <p>6.5mm</p>
            </div>
            <div class="c-column-flex-1 c-color-cell">
              <p>1.20ct</p>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/1.2.png?7004022191881242067">
              <p>7mm</p>
            </div>
            <div class="c-column-flex-1 c-color-cell">
              <p>1.50ct</p>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/1.5.png?7004022191881242067">
              <p>7.5mm</p>
            </div>
            <div class="c-column-flex-1 c-color-cell">
              <p>1.90ct</p>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/1.9.png?7004022191881242067">
              <p>8mm</p>
            </div>
            <div class="c-column-flex-1 c-color-cell">
              <p>2.20ct</p>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/2.2.png?7004022191881242067">
              <p>8.5mm</p>
            </div>
            <div class="c-column-flex-1 c-color-cell">
              <p>2.70ct</p>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/2.7.png?7004022191881242067">
              <p>9mm</p>
            </div>
            <div class="c-column-flex-1 c-color-cell">
              <p>3.10ct</p>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/3.1.png?7004022191881242067">
              <p>9.5mm</p>
            </div>
          </div>
        </div>
        <div class="c-color-chart c-desktop-hide">
          <div class="c-color-chart-table">
            <div class="c-column-flex-1 c-color-cell">
              <p>.23ct</p>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/23.png?7004022191881242067">
              <p>4mm</p>
            </div>
            <div class="c-column-flex-1 c-color-cell">
              <p>1.20ct</p>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/1.2.png?7004022191881242067">
              <p>7mm</p>
            </div>
            <div class="c-column-flex-1 c-color-cell">
              <p>3.10ct</p>
              <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/3.1.png?7004022191881242067">
              <p>9.5mm</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="page-width c-section-center padding-top-xl padding-bottom-xl m-padding-top-l m-padding-bottom-l">
  <h3 class="c-header-l text-center">Free Shipping And Free Returns, Always.</h3>
  <p class="padding-top-s padding-bottom-s text-center">
    It's a big decision, and we'll make it as easy as possible for you.
  </p>
  <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-third m-padding-top-s">
    <label>30-DAY RETURNS</label>
    <p class="padding-top-xs">If for whatever reason it doesn't work out, we offer a 100% refund on your purchase.</p>
  </div>
  <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-third m-padding-top-s">
    <label>LIFETIME WARRANTY</label>
    <p class="padding-top-xs">Our gemstones were created to last. We back it up with an honest, life-time warranty.</p>
  </div>
  <div class="grid__item grid__item--collection-template small--one-whole medium-up--one-third m-padding-top-s">
    <label>DELIVERED INSURED</label>
    <p class="padding-top-xs">Delivered insured and straight to your door. Ring box is protected by a gift box.</p>
  </div>
</div>

<!-- {% if collection %}
  <div class="text-center return-link-wrapper">
    <a href="{{ collection.url }}" class="btn btn--secondary btn--has-icon-before return-link">
      {% include 'icon-arrow-left' %}
      {{ 'products.product.back_to_collection' | t: title: collection.title }}
    </a>
  </div>
{% endif %} -->



{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  <script type="text/javascript">
    window.variantCompareablePrices = {};
    {% for variant in product.variants %}
      window.variantCompareablePrices[{{variant.id}}] = "{{variant.metafields.custom_text.compareable_price}}";
    {% endfor %}
  </script>

{% endunless %}

<script src="{{ 'tabs-manager.js' | asset_url }}"></script>

<script>
  TabsManager.initialize("js-tablink", "js-tab-content");
</script>


{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "full",
            "label": "Full-width"
          }
        ],
        "default": "medium"
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": "Show variant labels",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
