<div class="product-template c-bg-light-gray" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}

  {% case section.settings.image_size %}
    {% when 'small' %}
      {%- assign product_image_width = 'medium-up--one-third' -%}
      {%- assign product_description_width = 'medium-up--two-thirds' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-third' -%}
      {%- assign height = 345 -%}
    {% when 'medium' %}
      {%- assign product_image_width = 'medium-up--one-half' -%}
      {%- assign product_description_width = 'medium-up--one-half' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-quarter' -%}
      {%- assign height = 530 -%}
    {% when 'large' %}
      {%- assign product_image_width = 'medium-up--two-thirds' -%}
      {%- assign product_description_width = 'medium-up--one-third' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-fifth' -%}
      {%- assign height = 720 -%}
    {% when 'full' %}
      {%- assign product_image_width = '' -%}
      {%- assign product_description_width = '' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-eighth' -%}
      {%- assign height = 1090 -%}
      {%- assign enable_zoom = false -%}
  {% endcase %}

  <div class="grid product-single">
    <div id='js-hidden-product-images' class="visibility-hidden grid__item product-single__photos {{ product_image_width }}{% if section.settings.image_size == 'full' %} product-single__photos--full{% endif %} c-product-template-mobile c-product-photos-desktop">
      {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
      {% for image in product.images %}
        {% capture img_id %}FeaturedImage-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_class %}product-featured-img{% endcapture %}
        {% capture zoom_img_id %}FeaturedImageZoom-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_wrapper_id %}{{ zoom_img_id }}-wrapper{% endcapture %}
        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

        {% include 'image-style' with small_style: true, width: height, height: height, wrapper_id: img_wrapper_id, img_id: img_id %}

        <div id="{{ img_wrapper_id }}" class="product-single__photo-wrapper js">
          <div id="{{ zoom_img_id }}" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;" class="product-single__photo{% if enable_zoom %} js-zoom-enabled{% endif %}{% if product.images.size > 1 %} product-single__photo--has-thumbnails{% endif %}{% unless featured_image == image %} hide{% endunless %}" data-image-id="{{ image.id }}" data-image-alt="{{ image.alt }}" {% if enable_zoom %} data-zoom="{{ image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
            <img id="{{ img_id }}"
                 class="feature-row__image {{ img_class }} lazyload{% unless featured_image == image %} lazypreload{% endunless %}"
                 src="{{ image | img_url: '300x300' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ image.alt | escape }}">
          </div>
        </div>
      {% endfor %}

      <noscript>
        {% capture product_image_size %}{{ height }}x{% endcapture %}
        <img src="{{ featured_image | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_image.alt }}" id="FeaturedImage-{{ section.id }}" class="product-featured-img" style="max-width: {{ height }}px;">
      </noscript>
      
      <div class="product-bullets-container">
        <div class="js-product-bullets">
        </div>
      </div>

      {% if product.images.size > 1 %}
        {% if product.images.size > 3 %}
          {%- assign enable_thumbnail_slides = false -%}
        {% endif %}

        <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %}">
          {% if enable_thumbnail_slides == true %}
            <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}">
              {% include 'icon-chevron-left' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.previous_slide' | t }}</span>
            </button>
          {% endif %}
          <ul class="grid grid--uniform product-single__thumbnails grid--half-gutters product-single__thumbnails-{{ section.id }}">
            {% for image in product.images %}
              <li class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js">
                <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
                   class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                   data-thumbnail-id="{{ image.id }}"
                   data-image-alt="{{ image.alt }}"
                   {% if enable_zoom %}data-zoom="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
                     <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '110x110', scale: 2 }}" alt="{{ image.alt | escape }}">
                </a>
              </li>
            {% endfor %}
          </ul>
          {% if enable_thumbnail_slides == true %}
            <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}">
              {% include 'icon-chevron-right' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
            </button>
          {% endif %}
        </div>
      {% endif %}
    </div>

    <div class="grid__item {{ product_description_width }} c-bg-white padding-top-m padding-left-l padding-right-l m-padding-top-s c-product-template-mobile c-product-description-desktop">
      <div class="product-single__meta margin-bottom-s">
        <div class="custom-product-text padding-bottom-xs m-padding-bottom-xs">
          <h1 itemprop="name" class="product-single__title custom-product-header">{{ product.title }} –</h1>
          <span class="product-price__price product-price__price-{{ section.id }}">
            <span id="ProductPrice-{{ section.id }}" class="custom-product-price"
              itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
              {{ current_variant.price | money | remove: '.00' }}
            </span>
            <span class="product-price__sale-label product-price__sale-label-{{ section.id }} hide">{{ 'products.product.on_sale' | t }}</span>
          </span>

          {% if section.settings.show_vendor %}
            <p itemprop="brand" class="product-single__vendor">{{ product.vendor }}</p>
          {% endif %}

          <h4 id="header-compareable-price" class="custom-product-secondary-header c-custom-compareable-price{% if current_variant.metafields.custom_text.compareable_price == blank or current_variant.metafields.custom_text.compareable_price == "" %} hidden{% endif %}">Diamond Equivalent Price – <span id="variant-compareable-price">{{ current_variant.metafields.custom_text.compareable_price }}</span></h4>
          <div class="reviews-top">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </div>
        </div>
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form custom-product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" data-section="{{ section.id }}">
            {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
              {% for option in product.options_with_values %}
                {% assign optionName = option.name | downcase %}
                {% if optionName == 'metal' %}
                  <div class="product-form__item">
                    <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="metal-swatch">
                      {{ option.name }}
                      <span id="swatchSpan-{{ section.id }}"></span>
                    </label>
                    {% assign optionIndex = forloop.index %}
                    <div class="metal-swatch-radio-inputs margin-bottom-xs single-option-selector-{{ section.id }}" id="SingleOptionSelector-{{ forloop.index0 }}">
                      <ul>
                        {% for value in option.values %}
                          <li>
                            <label>
                              <input type="radio" name="metal-swatch" value="{{ value | escape }}"{% if option.selected_value == value %}checked="checked"{% endif %} data-index="option{{ optionIndex }}">
                              <span class="swatch color-{{ value | handleize }}"></span>
                            </label>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                {% else %}
                  <div class="selector-wrapper js product-form__item margin-bottom-s">
                    <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input custom-product-select" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                      {% for value in option.values %}
                        <option class="custom-product-select__option" value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                {% endif %}
              {% endfor %}
            {% endunless %}

            <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}" data-compareable-price={{variant.metafields.custom_text.compareable_price}}>
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            </select>
            
            {% if product.tags contains 'ring' %}
              {% unless product.tags contains 'sample sale' %}
                {% include 'ring-size-select' %}
              {% endunless %}
            {% endif %}

            {% if section.settings.show_quantity_selector %}
              <div class="product-form__item product-form__item--quantity">
                <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
              </div>
            {% endif %}
            
            <div class="product-form__item product-form__item--submit custom-product-form-item custom-product-form-item__margin">
              <button type="submit" onclick="ga('send', 'event', 'cart', 'add to cart');" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %}">
                <span id="AddToCartText-{{ section.id }}">
                  {% unless current_variant.available %}
                    {{ 'products.product.sold_out' | t }}
                  {% else %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% endunless %}
                </span>
              </button>
<!--               <p class="custom-finance">Monthly Financing available with Affirm at checkout</p> -->
            </div>
          </form>
        </div>

        <div class="product-single__description rte" itemprop="description">         	
          <label class="c-label">Description</label>
          <div class="padding-top-xs">
            {{ product.description }}
          </div>
        </div>

        {% if section.settings.show_share_buttons %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="page-width padding-top-m padding-bottom-m m-padding-top-xs m-padding-bottom-none {% if product.metafields.product_specs.shape == blank or product.metafields.product_specs.shape == "" %}hidden{% endif %}">
  <div class="c-tablet-or-smaller-hide">
    <div class="align--center">
      <h3 class="c-header-m padding-top-m padding-bottom-m">Product Details</h3>
    </div>
    <div class="c-column-flex-container c-mobile-flex-column padding-top-s">
      <div class="c-column-flex-1 {% if product.metafields.product_specs.setting == blank or product.metafields.product_specs.setting == "" %}hidden{% endif %}">
        <p class="margin-bottom-xxs c-label">Setting Details</p>
        <hr class="margin-none padding-top-xs">
        <div class="padding-top-xs">Style: Solitaire</div>
        <div class="c-specs">Metal: 14K Gold or Platinum</div>
        <div class="c-specs">Band Width: 1.7mm</div>
        <div class="c-specs">Rhodium Finish: White Gold only</div>
        <div class="c-specs">Prongs: {{ product.metafields.product_specs.setting }}</div>
      </div>
      <div class="c-column-flex-1">
        <p class="margin-bottom-xxs c-label">Gemstone Details</p>
        <hr class="margin-none padding-top-xs">
        <div class="padding-top-xs">Gemstone: Moissanite</div>
        <div class="c-specs">Shape: {{ product.metafields.product_specs.shape }}</div>
        <div class="c-specs">Average Color: D/E/F</div>
        <div class="c-specs">Average Clarity: VVS1</div>
        <div class="c-specs">Average Cut: Ideal</div>
      </div> 
      <div class="c-column-flex-1">
        <p class="margin-bottom-xxs c-label">Gemstone Details</p>
        <hr class="margin-none padding-top-xs">
        <div class="padding-top-xs ">Hardness: 9.5</div>
        <div class="c-specs">Refractive Index: 2.65-2.96</div>
        <div class="c-specs">Specific Gravity: 3.21–3.22</div>
        <div class="c-specs">Polish: Excellent</div>
        <div class="c-specs">Symmetry: Excellent</div>
      </div>
      <div class="c-column-flex-1">
        <p class="margin-bottom-xxs c-label">Care</p>
        <hr class="margin-none padding-top-xs">
        <div class="padding-top-xs">Cleaning Solution: Non-abrasive</div>
        <div class="c-specs">Steamer Reaction: Usually safe</div>
        <div class="c-specs">Ultrasonic Reaction: Usually safe</div>
        <div class="c-specs">Gem Manufacturer: Charles&Colvard</div>
        <div class="c-specs">Gemstone Warranty: Lifetime</div>
      </div>
    </div>
  </div>

  <div class="custom-about-content c-tablet-bigger-hide">
    <hr>
    <div class="about-row {% if product.metafields.product_specs.setting == blank or product.metafields.product_specs.setting == "" %}hidden{% endif %}">
      <a href="#" class="js-about-content-link">
        <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
        <span class="about-icon-down hidden">{% include "icon-chevron-up-small" %}</span>
        <h4 class="about-header4 c-label">Setting Details</h4>
      </a>
      <div class="js-about-content product-specs padding-bottom-xs hidden">
        <div>Style: Solitaire</div>
        <div>Metal: 14K Gold or Platinum</div>
        <div>Band Width: 1.7mm</div>
        <div>Rhodium Finish: White Gold only</div>
        <div>Prongs: {{ product.metafields.product_specs.setting }}</div>
      </div>
    </div>
    <div class="about-row">
      <a href="#" class="js-about-content-link">
        <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
        <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
        <h4 class="about-header4 c-label">Gemstone Details</h4>
      </a>
      <div class="js-about-content product-specs padding-bottom-xs hidden">
        <div>Gemstone: Moissanite</div>
        <div>Shape: {{ product.metafields.product_specs.shape }}</div>
        <div>Average Color: D/E/F</div>
        <div>Average Clarity: VVS1</div>
        <div>Average Cut: Ideal</div>
        <div>Hardness: 9.5</div>
        <div>Refractive Index: 2.65-2.96</div>
        <div>Specific Gravity: 3.21–3.22</div>
        <div>Melting Point: 2730 °C </div>
        <div>Polish: Excellent</div>
        <div>Symmetry: Excellent</div>
      </div>
    </div>
    <div class="about-row">
      <a href="#" class="js-about-content-link">
        <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
        <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
        <h4 class="about-header4 c-label">Care</h4>
      </a>
      <div class="js-about-content product-specs padding-bottom-xs hidden">
        <div>Cleaning Solution: Non-abrasive</div>
        <div>Ultrasonic Reaction: Usually safe</div>
        <div>Steamer Reaction: Usually safe</div>
        <div>Gem Manufacturer: Charles&Colvard</div>
        <div>Gemstone Warranty: Lifetime</div>
      </div>
    </div>
  </div>
</div>

<div class="page-width padding-bottom-s m-padding-top-none m-padding-bottom-none">
  <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
</div>

<div class="c-bg-light-gray">
  <div class="page-width padding-top-l padding-bottom-l m-padding-top-m m-padding-bottom-m text-center">
    <div class="c-section-center c-page-width-m">
      <h3 class="c-header-l padding-bottom-xs m-padding-bottom-s">Free Shipping And Easy Returns</h3>
      <p>It's a big decision, and we're here to help make this process as easy as possible for you.</p>
    </div>
    <div class="c-column-flex-container c-mobile-flex-column padding-top-s">
      <div class="c-column-flex-1 padding-right-m padding-top-m m-padding-right-none">
        <img style="height: 50px; padding-bottom:5px;" src="https://cdn.shopify.com/s/files/1/2109/1565/files/001-interface.png?7115324211093493132">
        <p class="c-x-mini-header margin-none padding-top-xs padding-bottom-xs">EASY RETURNS</p>
        <p>We accept returns within one month of receiving your order for unworn items. 
        </p>
      </div>
      <div class="c-column-flex-1 padding-right-m padding-top-m m-padding-right-none">
        <img style="height: 50px; padding-bottom:5px;" src="https://cdn.shopify.com/s/files/1/2109/1565/files/006-luxury.png?7115324211093493132">
        <p class="c-x-mini-header margin-none padding-top-xs padding-bottom-xs">WARRANTY</p>
        <p>Each Moissanite gemstone is backed by an honest limited life-time warranty.
        </p>
      </div>
      <div class="c-column-flex-1 padding-right-m padding-top-m m-padding-right-none">
        <img style="height: 50px; padding-bottom:5px;" src="https://cdn.shopify.com/s/files/1/2109/1565/files/005-box.png?7115324211093493132">
        <p class="c-x-mini-header margin-none padding-top-xs padding-bottom-xs">DELIVERED INSURED</p>
        <p>Delivered insured and straight to your door. Ring box is protected by a gift box.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- {% if collection %}
  <div class="text-center return-link-wrapper">
    <a href="{{ collection.url }}" class="btn btn--secondary btn--has-icon-before return-link">
      {% include 'icon-arrow-left' %}
      {{ 'products.product.back_to_collection' | t: title: collection.title }}
    </a>
  </div>
{% endif %} -->


<script src="{{ 'contact-us.js' | asset_url }}"></script>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  <script type="text/javascript">
    window.variantCompareablePrices = {};
    {% for variant in product.variants %}
      window.variantCompareablePrices[{{variant.id}}] = "{{variant.metafields.custom_text.compareable_price}}";
    {% endfor %}
  </script>

{% endunless %}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "full",
            "label": "Full-width"
          }
        ],
        "default": "medium"
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": "Show variant labels",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
