<div class="pg-bg-primary">
  <div class="page-width">
    <div class="padding-top-m">
      <div class="c-section-left c-page-width-l padding-bottom-none">
        <h3 class="c-header-l">What are Moissanites?</h3>
        <p class="padding-top-xs">Pronounced: moy-san-nite</p>
        <div class="custom-about-content">
          <p>Moissanite is a gemstone that does not naturally grow on Earth.
            Moissanite originates from space meteorites (carbonaceous chondrite meteorites) and 
            becomes a gemstone when the meteorite lands on Earth. Moissanite are rare 
            and has only been discovered in small quantities in a limited variety of places around the world.
            Chemists later developed the innovative thermal technology to grow Moissanite in labs,
            making it more accessible to consumers.
          </p>
          <h3 class="c-header-l padding-top-m">Perfect color and clarity</h3>
          <p class="padding-top-s padding-bottom-s"> 
          Chemically engineered to be crystal clear with zero traces of yellow and minimal inclusions.
          Moissanite's color and clarity are equivalent to the highest grade of GIA certified Diamonds. Moissanites lasts forever and its sparkle and color will not fade, cloud, or tarnish.
            <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"><i class="em em-sparkles"></i>
          <br>Note: Moissanite is on ring finger and Diamond is on pinky.</p>
          <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/moissanite-diamond-desktop.gif?15518490136348704486" alt="Moissanite and Diamond">
        </div>
      </div>
    </div>
    <div class="c-page-width-l padding-top-m m-padding-top-s padding-bottom-l">
      <h3 class="c-header-l padding-top-m">Second hardest gemstone on Earth</h3>
      <p class="padding-top-s padding-bottom-s">Moissanites are made of Silicon Carbide&mdash;the same material used in bullet proof vests and tools to cut metal.
      On the Mineral Hardness Scale, Moissanite is more scratch resistent than
      Sapphire, Ruby, and Emerald. <link class="text-m" href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"><i class="em em-gem"></i>
      </p>
      {% include 'moh-chart' %}
    </div>
    <div class="c-page-width-l padding-top-l m-padding-top-s">
      <h3 class="c-header-l">Conflict-free and environmentally friendly</h3>
      <p class="padding-top-s padding-bottom-s"> 
      Our Moissanites are all lab created so there is no mining or unethical labor practices in the gem's journey into your hands.
      <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"><i class="em em-earth_africa"></i></p>
      <img src="https://cdn.shopify.com/s/files/1/2109/1565/files/eco-friendly.png?671013690916682615" />
    </div>
    
    <div class="padding-top-m padding-bottom-m">
      <div class="c-section-left c-page-width-l">
        <h3 class="c-header-l">Frequently asked questions</h3>
        <div class="custom-about-content padding-top-m">
          <div>
            <h3 class="about-margin">Quick Facts</h3>
            <div class="about-row">
              <a href="#what-are-moissanites" class="js-about-content-link">
                <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                <h4 class="about-header4">How are Moissanite formed?</h4>
              </a>
              <div class="js-about-content about-content hidden">
                <p>
                  Crystalline structure of gemstones are formed under various conditions. Gemstones grown and mined
                  on Earth are typically formed by heat and pressure from the mantle, or deeper layers of Earth. 
                  Moissanite's crystalline structure is formed through pressure when the meteorite charges through the atmosphere
                  and lands on Earth.</p>
                <p>In a lab setting, Moissanite's crystalline structure is formed through thermal pressure machines.</p>
              </div>
            </div>
            <div class="about-row">
              <a href="#is-moissanite-a-diamond" class="js-about-content-link">
                <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                <h4 class="about-header4">Is Moissanite a brand of diamond or simulated diamond?</h4>
              </a>
              <div class="js-about-content about-content hidden">
                <p>
                  Moissanite is not a diamond or substitute of a diamond, either scientifically, chemically or emotionally. Moissanite is not a fake diamond but rather a different clear gemstone (just like white sapphires) 
                  with its own set of chemical and optical properties. 
                </p>
              </div>
            </div>
          </div>
          <div class="about-row padding-top-m">
            <h3 class="about-margin">Color, Cut, & Clarity</h3>
            <div class="about-row">
              <a href="#why-are-moissanites-sold-by-millimeter" class="js-about-content-link">
                <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                <h4 class="about-header4">Why are Moissanites sold by millimeter rather than carats?</h4>
              </a>
              <div class="js-about-content about-content hidden">
                <p>
                  Carat is the traditional unit of measurement for a Diamond's weight. 
                  Moissanites are not measured in carats because it weighs approximately 10 percent less than Diamond. For example, a 6.5mm round Diamond would weigh 1.0ct, while a 6.5mm round moissanite would weigh 0.88ct. 
                  The two stones would visually be the same size - 6.5mm in diameter. All stones for sale on Gema are listed with their size in millimeters and the Diamond equivalent weight in carats.
                </p>  
              </div>
            </div>
            <div class="about-row">
              <a href="#will-moissanite-color-fade" class="js-about-content-link">
                <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                <h4 class="about-header4">Will Moissanite color fade or change over time?</h4>
              </a>
              <div class="js-about-content about-content hidden">
                <p>
                  There are no likely situations in which the color of Moissanite will be permanently changed. Moissanites experience a temporary color change when exposed to extreme heat from a jeweler's torch during jewelry repair, but with proper bench techniques, there will be no lasting damage, and the stone will return to its normal color once it cools.
                </p>  
              </div>
            </div>
            <div class="about-row">
              <a href="#do-moissanites-have-inclusions" class="js-about-content-link">
                <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                <h4 class="about-header4">Do Moissanites have inclusions?</h4>
              </a>
              <div class="js-about-content about-content hidden">
                <p>
                  Moissanite can have needle-like inclusions that can be seen under 10x magnification. However, they are not visible to the naked eye and do not affect the clarity of the stone. It's worth noting that nearly every gem has some sort of inclusion. They are unique characteristics, which occur in the formation of the crystalline structure.
                </p>  
              </div>
            </div>
            <div class="about-row">
              <a href="#are-moissanites-an-ideal-cut" class="js-about-content-link">
                <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                <h4 class="about-header4">Are Moissanites an ideal cut?</h4>
              </a>
              <div class="js-about-content about-content hidden">
                <p>
                  Moissanites are all carefully and precisely faceted and cut according to the exact angles and ideal proportions to maximize its brilliance and enhance its light refraction.
                </p> 
              </div>
            </div>
            <div class="about-row">
              <a href="#how-are-moissanites-graded-on-clarity" class="js-about-content-link">
                <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                <h4 class="about-header4">How are Moissanites graded on clarity?</h4>
              </a>
              <div class="js-about-content about-content hidden">
                <p>
                  Unlike mined gemstones where color and clarity may vary, lab created gems are 
                  designed and chemically formulated to be extreamly clear with minimal to no inclusions.
                </p>  
              </div>
            </div>
          </div>
          <div class="about-row padding-top-m">
            <h3 class="about-margin">Brilliance & Fire Dispersion</h3>
            <div class="about-row">
              <a href="#what-properties-of-moissanite" class="js-about-content-link">
                <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                <h4 class="about-header4">What properties of Moissanite makes it sparkle?</h4>
              </a>
              <div class="js-about-content about-content hidden">
                <p>
                  The most significant optical property affecting a gemstone's brilliance, or 
                  sparkle, is the refractive index or RI. The RI of moissanite ranges from 
                  2.65 to 2.69, meaning it displays more brilliance than even Diamond 
                  (RI of 2.42) or any other mainsteam gemstone.
                </p>  
              </div>
            </div>
            <div class="about-row">
              <a href="#will-the-brilliance-of-moissanite-fade" class="js-about-content-link">
                <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                <h4 class="about-header4">What gives Moissanite its fire?</h4>
              </a>
              <div class="js-about-content about-content hidden">
                <p>
                  A gemstone's fire is determined by a gemological property called dispersion. Dispersion refers to the prism effect 
                  that occurs when pure white light enters a non-opaque object, breaks into spectral (rainbow) colors, 
                  and reflects back to the viewer. Moissanite's dispersion is 0.104, which 
                  exceeds that of any gemstone, including Diamond, Ruby, Sapphire and Emerald.
                </p>  
              </div>
            </div>
            <div class="about-row">
              <a href="#will-moissanite-lose-its-fire" class="js-about-content-link">
                <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                <h4 class="about-header4">Will the brilliance or fire of Moissanite fade over time?</h4>
              </a>
              <div class="js-about-content about-content hidden">
                <p>
                  Moissanites will maintain its brilliance and fire forever. Each Moissanite is backed by a Limited Lifetime Warranty which guarantees this gem, and its qualities will last forever.
                </p>  
              </div>
            </div>
          </div>
          <div class="about-row padding-top-m">
            <h3 class="about-margin">Quality, Hardness, & Toughness</h3>
            <div class="about-row">
              <a href="#are-moissanites-resistant-to-scratches" class="js-about-content-link">
                <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                <h4 class="about-header4">How durable are Moissanites?</h4>
              </a>
              <div class="js-about-content about-content hidden">
                <p>
                  Moissanite is the second hardest gemstone on Earth and is incredibly durable, tough, and resistant to scratching or abrasion. 
                  Each Moissanite is backed by a Limited Lifetime Warranty that protects against breaking and chipping to the stone.
                </p>  
              </div>
            </div>
            <div class="about-row">
              <a href="#are-moissanites-heat-resistant" class="js-about-content-link">
                <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                <h4 class="about-header4">Are Moissanites heat resistant?</h4>
              </a>
              <div class="js-about-content about-content hidden">
                <p>
                  Moissanite exhibits more heat resistance than mainstream gemstones, including Diamond. Tests prove that at 2000ºF - higher than the intensity of a house fire - Moissanite remain intact and as brilliant as the day they were created. 
                  This heat tolerance makes Moissanite unlikely to suffer damage during jewelry repair.
                </p>  
              </div>
            </div>
          </div>
          <div class="about-row padding-top-m">
            <h3 class="about-margin">Repairs & Care</h3>
            <div class="about-row">
              <a href="#how-should-i-care-for-moissanites" class="js-about-content-link">
                <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                <h4 class="about-header4">How should I care for Moissanites?</h4>
              </a>
              <div class="js-about-content about-content hidden">
                <p>
                  Moissanite can be cleaned the same way as other fine gemstone. 
                  You may clean Moissanite using a commercial (non-acid based) jewelry cleaner 
                  or with mild soap and water using a soft toothbrush.
                </p>  
              </div>
            </div>
            <div class="about-row">
              <a href="#can-moissanites-withstand-repairs" class="js-about-content-link">
                <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                <h4 class="about-header4">Can Moissanites withstand repairs and sizing?</h4>
              </a>
              <div class="js-about-content about-content hidden">
                <p>
                  Moissanite is an extremely stable material. It is durable, tough and highly resistant to scratching, abrasion, breaking and chipping. Its high heat tolerance makes moissanite very unlikely to experience damage during jewelry repair.
                </p>
              </div>
            </div>
            <div class="about-row">
              <a href="#can-moissanites-be-reset-into-new-jewelry" class="js-about-content-link">
                <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
                <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
                <h4 class="about-header4">Can Moissanites be reset into new jewelry?</h4>
              </a>
              <div class="js-about-content about-content hidden">
                <p>
                  Resetting your Moissanite gemstone(s) into a new piece of jewelry is easy and can be done by an experienced jeweler. 
                </p>
              </div>
            </div>
            <div class="about-row">
            </div>
          </div>
        </div>
      </div>
      <div id="contactUsModal" class="custom-modal">
        <div class="custom-modal-content">
          <div class="custom-modal-close contact-us-close">&times;</div>
          <div class="contact-form form-vertical">
            {% form 'contact' %}

              {% if form.posted_successfully? %}
                <p class="note form-success">
                  {{ 'contact.form.post_success' | t }}
                </p>
              {% endif %}

              {{ form.errors | default_errors }}

              <div class="grid grid--half-gutters">
                <div class="grid__item medium-up--one-half">
                  <label for="ContactFormName">{{ 'contact.form.name' | t }}</label>
                  <input type="text" id="ContactFormName" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
                </div>
                <div class="grid__item medium-up--one-half">
                  <label for="ContactFormEmail" class="{% if form.errors contains 'email' %}label--error{% endif %}">{{ 'contact.form.email' | t }}</label>
                  <input type="email" id="ContactFormEmail" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" class="{% if form.errors contains 'email' %}input--error{% endif %}">
                </div>
              </div>

              <label for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
              <input type="tel" id="ContactFormPhone" name="contact[phone]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

              <label for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
              <textarea rows="10" id="ContactFormMessage" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

              <input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">

            {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ 'contact-us.js' | asset_url }}"></script>