<div class="pg-bg-primary padding-top-m padding-bottom-m">
  <div class="c-section-left page-width faq-width">
    <h3 class="c-header-l text-center">Frequently asked questions</h3>
    <div class="custom-about-content padding-top-m">
      <div>
        <h3 class="about-margin">Moissanite History & Facts</h3>
        <div class="about-row">
          <a href="#what-are-moissanites" class="js-about-content-link">
            <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
            <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
            <h4 class="about-header4">What Are Moissanites?</h4>
          </a>
          <div class="js-about-content about-content hidden">
            <p>
              Moissanite is composed of silicon carbide and is a rare mineral that originates from space meteorites. 
              Moissanites were first discovered by chemist Dr. Henri Moissan at the site of a massive meteorite strike 
              in Arizona, USA. This new stone was named 'Moissanite' in his 
              honor as Dr. Moissan spent the rest of his life attempting to recreate 
              this rare mineral in his laboratory.</p>
            <p>It wasn't until the late 80's 
               where scientists developed the innovative 
              thermal growing process that made Moissanites more widely available to consumers.
            </p>
          </div>
        </div>
        <div class="about-row">
          <a href="#is-moissanite-a-diamond" class="js-about-content-link">
            <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
            <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
            <h4 class="about-header4">Is Moissanite a brand of diamond or simulated diamond?</h4>
          </a>
          <div class="js-about-content about-content hidden">
            <p>
              Moissanite is not a Diamond or substitute of a Diamond, either scientifically, chemically or emotionally. Moissanite is not a fake Diamond but rather a different type of clear gemstone (just like White Sapphires) with its own set of chemical and optical properties. 
            </p>
          </div>
        </div>
        <div class="about-row">
          <a href="#why-are-moissanites-sold-by-millimeter" class="js-about-content-link">
            <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
            <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
            <h4 class="about-header4">Why are Moissanites sold by millimeter rather than carats?</h4>
          </a>
          <div class="js-about-content about-content hidden">
            <p>
              Carat is the traditional unit of measurement for a Diamond's weight. Moissanites are not measured in carats because it weighs approximately 10 percent less than diamond. For example, a 6.5mm round diamond would weigh 1.0ct, while a 6.5mm round moissanite would weigh 0.88ct. The two stones would visually be the same size - 6.5mm in diameter. All stones for sale are listed with their size in millimeters and the diamond equivalent weight (DEW) in carats.
            </p>  
          </div>
        </div>
      </div>
      <div class="about-row padding-top-m">
        <h3 class="about-margin">Color, Cut, & Clarity</h3>
        <div class="about-row">
          <a href="#will-moissanite-color-fade" class="js-about-content-link">
            <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
            <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
            <h4 class="about-header4">Will Moissanite color fade or change over time?</h4>
          </a>
          <div class="js-about-content about-content hidden">
            <p>
              There are no likely situations in which the color of moissanite (or any other gemstone) will be permanently changed. Moissanites experience a temporary color change when exposed to extreme heat from a jeweler's torch during jewelry repair, but with proper bench techniques there will be no lasting damage, and the stone will return to its normal color once it cools.
            </p>  
          </div>
        </div>
        <div class="about-row">
          <a href="#do-moissanites-have-inclusions" class="js-about-content-link">
            <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
            <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
            <h4 class="about-header4">Do Moissanites have inclusions?</h4>
          </a>
          <div class="js-about-content about-content hidden">
            <p>
              Moissanite can have needle-like inclusions that can be seen under 10x magnification. However, they are not visible to the naked eye and do not affect the clarity of the stone. It's worth noting that nearly every gem has some sort of inclusion. They are unique characteristics, which occur in the formation of the crystalline structure.
            </p>  
          </div>
        </div>
        <div class="about-row">
          <a href="#are-moissanites-an-ideal-cut" class="js-about-content-link">
            <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
            <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
            <h4 class="about-header4">Are Moissanites an ideal cut?</h4>
          </a>
          <div class="js-about-content about-content hidden">
            <p>
              Moissanites are all carefully and precisely faceted and cut according to the exact angles and ideal proportions to maximize its brilliance and enhance its incredible fire.
            </p> 
          </div>
        </div>
        <div class="about-row">
          <a href="#how-are-moissanites-graded-on-clarity" class="js-about-content-link">
            <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
            <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
            <h4 class="about-header4">How are Moissanites graded on clarity?</h4>
          </a>
          <div class="js-about-content about-content hidden">
            <p>
              Our Moissanites are graded by gemologists certified by the Gemological Institute of America (GIA). Each Moissanite is studied by trained grading specialists using a 10x jeweler's loupe for any inclusions that may affect the gemstone’s quality.
            </p>  
          </div>
        </div>
      </div>
      <div class="about-row padding-top-m">
        <h3 class="about-margin">Brilliance & Fire Dispersion</h3>
        <div class="about-row">
          <a href="#what-properties-of-moissanite" class="js-about-content-link">
            <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
            <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
            <h4 class="about-header4">What properties of Moissanite makes it sparkle?</h4>
          </a>
          <div class="js-about-content about-content hidden">
            <p>
              The most significant optical property affecting a gemstone's brilliance, or sparkle, is the refractive index or RI. The RI of moissanite ranges from 2.65 to 2.69, meaning it displays more brilliance than diamond (with an RI of 2.42) or any other popular gemstone.
            </p>  
          </div>
        </div>
        <div class="about-row">
          <a href="#will-the-brilliance-of-moissanite-fade" class="js-about-content-link">
            <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
            <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
            <h4 class="about-header4">What gives Moissanite its fire?</h4>
          </a>
          <div class="js-about-content about-content hidden">
            <p>
              A gemstone's fire is determined by a gemological property called dispersion. Dispersion refers to the prism effect that occurs when pure white light enters a non-opaque object, breaks into spectral (rainbow) colors, and reflects back to the viewer. Moissanite's dispersion is 0.104, which exceeds that of any gemstone, including diamond, ruby, sapphire and emerald.
            </p>  
          </div>
        </div>
        <div class="about-row">
          <a href="#will-moissanite-lose-its-fire" class="js-about-content-link">
            <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
            <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
            <h4 class="about-header4">Will the brilliance or fire of Moissanite fade over time?</h4>
          </a>
          <div class="js-about-content about-content hidden">
            <p>
              Each Moissanite is backed by a Limited Lifetime Warranty which guarantees that every Moissanite gemstone will maintain its brilliance and fire forever.
            </p>  
          </div>
        </div>
      </div>
      <div class="about-row padding-top-m">
        <h3 class="about-margin">Quality, Hardness, & Toughness</h3>
        <div class="about-row">
          <a href="#are-moissanites-resistant-to-scratches" class="js-about-content-link">
            <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
            <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
            <h4 class="about-header4">Are Moissanites resistant to scratches?</h4>
          </a>
          <div class="js-about-content about-content hidden">
            <p>
              Moissanite is durable, tough and extremely resistant to scratching and abrasion. With a hardness of 9.25, moissanite is harder than all other gemstones except diamond. Each Moissanite is backed by a Limited Lifetime Warranty that protects against damages to the stone.
            </p>  
          </div>
        </div>
        <div class="about-row">
          <a href="#how-durable-are-moissanites" class="js-about-content-link">
            <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
            <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
            <h4 class="about-header4">How durable are Moissanites?</h4>
          </a>
          <div class="js-about-content about-content hidden">
            <p>
              Moissanite is one of the toughest gemstones. Studies in high pressure research have shown that moissanite is highly resistant to breaking and chipping. Each Moissanite is backed by a Limited Lifetime Warranty that protects against damages to the stone.
            </p>  
          </div>
        </div>
        <div class="about-row">
          <a href="#are-moissanites-heat-resistant" class="js-about-content-link">
            <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
            <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
            <h4 class="about-header4">Are Moissanites heat resistant?</h4>
          </a>
          <div class="js-about-content about-content hidden">
            <p>
              Moissanite exhibits more heat resistance than many other gemstones, including diamond. Tests prove that at 2000ºF - higher than the equivalent intensity of a house fire - moissanite gems remain intact and as brilliant as the day they were created. This heat tolerance makes moissanite unlikely to suffer damage during jewelry repair.
            </p>  
          </div>
        </div>
      </div>
      <div class="about-row padding-top-m">
        <h3 class="about-margin">Repairs & Care</h3>
        <div class="about-row">
          <a href="#how-should-i-care-for-moissanites" class="js-about-content-link">
            <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
            <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
            <h4 class="about-header4">How should I care for Moissanites?</h4>
          </a>
          <div class="js-about-content about-content hidden">
            <p>
              You may clean moissanite the same way you would diamond or any other fine gemstone. As with any fine jewelry item, an ultrasonic cleaner can be used. However, it is best to be gentle with your valuable treasures. You can also clean your moissanite jewelry using a commercial (non-acid based) jewelry cleaner or with mild soap and water using a soft toothbrush.
            </p>  
          </div>
        </div>
        <div class="about-row">
          <a href="#can-moissanites-withstand-repairs" class="js-about-content-link">
            <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
            <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
            <h4 class="about-header4">Can Moissanites withstand repairs and sizing?</h4>
          </a>
          <div class="js-about-content about-content hidden">
            <p>
              Moissanite is an extremely stable material. It is durable, tough and highly resistant to scratching, abrasion, breaking and chipping. Its high heat tolerance makes moissanite very unlikely to experience damage during jewelry repair.
            </p>
          </div>
        </div>
        <div class="about-row">
          <a href="#can-moissanites-be-reset-into-new-jewelry" class="js-about-content-link">
            <span class="about-icon-right">{% include "icon-chevron-right-small" %}</span>
            <span class="about-icon-down hidden">{% include "icon-chevron-down-small" %}</span>
            <h4 class="about-header4">Can Moissanites be reset into new jewelry?</h4>
          </a>
          <div class="js-about-content about-content hidden">
            <p>
              Resetting your moissanite gemstone(s) into a new piece of jewelry is very common and can be done by an experienced jeweler. Jewelry designers and manufacturers create their jewelry collections with moissanites use techniques very similar to those practiced by bench jewelers.
            </p>
          </div>
        </div>
        <div class="about-row">
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" c-bg-light-gray">
  <div class="padding-top-l padding-bottom-l page-width faq-width">
    <div class="grid grid--half-gutters">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        <div class="section-header text-center">
          <h1>Contact Us</h1>
        </div>

        <div class="contact-form form-vertical">
          {% form 'contact' %}

            {% if form.posted_successfully? %}
              <p class="note form-success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {% endif %}

            {{ form.errors | default_errors }}

            <div class="grid grid--half-gutters">
              <div class="grid__item">
                <label for="ContactFormName">{{ 'contact.form.name' | t }}</label>
                <input type="text" id="ContactFormName" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>
            </div>

            <div class="grid grid--half-gutters">
              <div class="grid__item">
                <label for="ContactFormEmail" class="{% if form.errors contains 'email' %}label--error{% endif %}">{{ 'contact.form.email' | t }}</label>
                <input type="email" id="ContactFormEmail" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" class="{% if form.errors contains 'email' %}input--error{% endif %}">
              </div>
            </div>

            <label for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
          <textarea rows="10" id="ContactFormMessage" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

            <input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">

          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-width">
  <div class="c-section-center text-center padding-top-xl padding-bottom-xl m-padding-top-s m-padding-bottom-s">
    <h3 class="c-header-xl padding-bottom-s">The world's most practical engagement ring.</h3> 
    <a href="/collections/engagement-rings" class="btn c-primary-btn">
      <b>Shop Now</b>
    </a>
  </div>
</div>

<script src="{{ 'contact-us.js' | asset_url }}"></script>